{% extends base_template %}
{% load i18n %}
{% load base_extra %}

{% block empty_state %}
  {% include 'snippets/empty_list.html' with model=model icon='calendar-days' can_create=can_create %}
{% endblock %}

{% block table %}
  <thead>
    <tr>
      <th>
        {% trans 'Name' %}
      </th>
      <th>
        {% trans 'Date' %}
      </th>
      <th>
        {% trans 'Repeats Annually' %}
      </th>
      {% if perms.holidays.change_holiday %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  {% for object in holidays %}
    <tr>
      <td>{{ object.name }}</td>
      <td>
        {% user_date object.date 'DATE_FORMAT' %}
      </td>
      <td>{{ object.repeats_annually|yesno:_('Yes,No') }}</td>
      {% if perms.holidays.change_holiday %}
        <td>
          <div class="flex gap-2 justify-end">
            <a href="{% url 'holidays:update' object.pk %}" class="tooltip" data-tip="{% trans 'Edit' %}"><i data-lucide="square-pen" class="w-4 h-4 me-1"></i></a>
            {% if perms.holidays.delete_holiday %}
              <a href="{% url 'holidays:delete' object.pk %}" class="tooltip" data-tip="{% trans 'Delete' %}"><i data-lucide="trash-2" class="w-4 h-4 text-error"></i></a>
            {% endif %}
          </div>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}
