{% extends base_template %}
{% load i18n %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "MAC-Address" %}</th>
            <th>{% trans "Hostname" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Type" %}</th>
            {% if can_edit %}
            <th width="62"></th>
            {% endif %}
        </tr>
    </thead>
{% for object in machines %}
<tr>
    <td><a href="{% url "machines:detail" object.pk %}">{{ object.name }}</a></td>
    <td>{{ object.mac_address }}</td>
    <td><a href="{% url "machines:detail" object.pk %}">{{ object.hostname }}</a></td>
    <td>{% include "snippets/machine_state_label.html" with object=object %}</td>
    <td>{{ object.get_type_display }}</td>
    {% if can_edit %}
        <td>
            <a href="{% url 'machines:update' object.pk %}" data-bs-toggle="tooltip" title="{% trans 'Edit' %}"><i class="bi-pencil-square me-2"></i></a>
            <a href="{% url "machines:configure" object.pk %}" data-bs-toggle="tooltip" title="{% trans 'Configure' %}"><i class="bi-sliders"></i></a>
        </td>
    {% endif %}
</tr>
{% endfor %}
{% endblock %}