{% load i18n %}
{% load base_extra %}
<div id="qualifications_container">
  {% if qualifications %}
    <div class="{% if not is_partial %} rounded-box border border-neutral/10{% endif %}">
      <table class="table">
        <thead>
          <tr>
            <th>
              {% trans 'Name' %}
            </th>
            <th>
              {% trans 'Role' %}
            </th>
            <th>
              {% trans 'Access Type' %}
            </th>
            <th>
              {% trans 'Instructed by' %}
            </th>
            <th>
              {% trans 'Date' %}
            </th>
            {% if perms.people.qualify_person %}
              <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for qualification in qualifications %}
            <tr>
              <td>
                {% include 'cells/person.html' with person=qualification.person %}
                {% if qualification.comment %}
                  <p class="text-base-content/60 text-xs">{{ qualification.comment }}</p>
                {% endif %}
              </td>
              <td>
                {% include 'cells/qualification_role.html' %}
              </td>
              <td>
                {% include 'cells/permission_level.html' with permission_level=qualification.permission_level %}
              </td>
              <td>
                {% if qualification.instructed_by %}
                  {% include 'cells/person.html' with person=qualification.instructed_by %}
                {% else %}
                  --
                {% endif %}
              </td>
              <td>
                {% user_date qualification.created 'DATE_FORMAT' %}
              </td>
              {% if perms.people.qualify_person %}
                <td>
                  <div class="flex gap-2 justify-end">
                    <a href="{% url 'people:edit-qualification' qualification.person.pk qualification.pk %}" class="tooltip" data-tip="{% trans 'Edit' %}"><i data-lucide="square-pen" class="w-4 h-4"></i></a>
                    <a class="tooltip" data-tip="{% trans 'Revoke' %}" href="{% url 'people:revoke-qualification' qualification.person.pk qualification.pk %}?next={{ request.path }}" data-modal-target="hx_delete_modals" hx-get="{% url 'people:revoke-qualification' qualification.person.pk qualification.pk %}?next={{ request.path }}" hx-target="#hx_delete_modals" hx-trigger="click">{% include 'snippets/hoverable_revoke.html' %}</a>
                  </div>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% url 'machines:qualifications' machine.pk as page_path %}
    {% include 'base_pagination.html' with page_obj=qualifications target='qualifications_container' %}
  {% else %}
    <div class="mb-6 mx-6 mt-4">
      {% include 'snippets/empty.html' with icon='ban' message='There are no people qualified for this machine'|translate %}
    </div>
  {% endif %}
</div>
