{% extends "base_detail.html" %}
{% load i18n %}

{% block top_actions %}
<div class="btn-group" role="group">
{% if can_edit %}
<a href="{% url request.resolver_match.namespace|add:':update' object.pk %}" class="btn btn-primary"><i class="bi-pencil-square me-2"></i>{% trans "Edit "%}</a>
<a href="{% url request.resolver_match.namespace|add:':configure' object.pk %}" class="btn btn-primary"><i class="bi-sliders me-2"></i>{% trans "Configure"%}</a>
{% endif %}
{% if can_delete %}
<a href="{% url request.resolver_match.namespace|add:':delete' object.pk %}" class="btn btn-danger" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"><i class="bi-trash me-1"></i>{% trans "Delete"%}</a>
{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row mb-4">
<div class="col-md-6">
<h4>{% trans "Details" %}</h4>
<ul class="list-unstyled">
<li><span class="fw-bold text-secondary-emphasis">{% trans "Name" %}:</span> {{ object.name }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "Hostname" %}:</span> {{ object.hostname }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "MAC Address" %}:</span> {{ object.mac_address }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "IP Address" %}:</span> {{ object.ip_address }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "Is Active" %}:</span> {% include "snippets/active_toggle.html" %}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "Needs Qualification" %}:</span>   {% if object.needs_qualification %}
    <i class="bi-check-circle-fill text-success" aria-hidden="true"></i>
    {% else %}
    <i class="bi-x-circle-fill text-danger" aria-hidden="true"></i>
    {% endif %}<br></li>
    <li><span class="fw-bold text-secondary-emphasis">{% trans "Chip" %}:</span> {{ object.get_chip_display }}<br></li>
    <li><span class="fw-bold text-secondary-emphasis">{% trans "Last used" %}:</span> {{ last_access }}<br></li>
</ul>
</div>
<div class="col-md-6">
    <h4>{% trans "Configuration" %}</h4>
    <ul class="list-unstyled">
        <li><span class="fw-bold text-secondary-emphasis">{% trans "Runtimer" %}:</span> {{ object.runtimer }}<br></li>
        <li><span class="fw-bold text-secondary-emphasis">{% trans "Min Power" %}:</span> {{ object.min_power }}<br></li>
        <li><span class="fw-bold text-secondary-emphasis">{% trans "Control Parameter" %}:</span> {{ object.control_parameter|default:"--" }}<br></li>
        <li class="mt-3 mb-0 h5">{% trans "Modules" %}</li>
        <li><span class="fw-bold text-secondary-emphasis">{% trans "Access Control" %}:</span> {{ object.get_access_control_module_display|default:"--" }}<br></li>
        <li><span class="fw-bold text-secondary-emphasis">{% trans "Status Display" %}:</span> {{ object.get_status_display_module_display|default:"--" }}<br></li>
        <li><span class="fw-bold text-secondary-emphasis">{% trans "Actor" %}:</span> {{ object.get_actor_module_display|default:"--" }}<br></li>
        </ul>
</div>
</div>

<div class="row">
    <div class="mb-5 col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="qualifications-tab" data-bs-toggle="tab" data-bs-target="#qualifications-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{% trans "Qualifications" %}</button>
            </li>
            {% if machine.needs_qualification %}
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="instructor-tab" data-bs-toggle="tab" data-bs-target="#instructor-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">{% trans "Instructors" %}</button>
            </li>
            {% endif %}
            {% if perms.access_log.view_access_log %}
            <li class="nav-item" role="presentation">
              <button
              class="nav-link"
              id="accesslog-tab"
              hx-get="{% url "access_log:for-machine" object.pk %}"
              hx-target="#accesslog-tab-pane"
              data-bs-toggle="tab"
              data-bs-target="#accesslog-tab-pane"
              type="button"
              role="tab"
              aria-controls="accesslog-tab-pane" aria-selected="false">{% trans "Access Log" %}</button>
            </li>
            {% endif %}
            <li class="nav-item" role="presentation">
              <button
              class="nav-link"
              id="statistics-tab"
              hx-get="{% url "machines:statistics" object.pk %}"
              hx-target="#statistics-tab-pane"
              data-bs-toggle="tab"
              data-bs-target="#statistics-tab-pane"
              type="button"
              role="tab"
              aria-controls="statistics-tab-pane" aria-selected="false">{% trans "Statistics" %}</button>
            </li>
          </ul>
          <div class="tab-content mt-4" id="myTabContent">
            <div class="tab-pane show active" id="qualifications-tab-pane" role="tabpanel" aria-labelledby="qualifications-tab" tabindex="0">
                {% if machine.needs_qualification %}
                <div class="text-body-secondary">{% blocktrans %}{{ qualifications_count }} people are qualified to use this machine:{% endblocktrans %}</div>
                {% include "qualifications_table.html" with is_partial=True %}
                {% else %}
                <div class="text-body-secondary">{% blocktrans %}All active users are qualified to use this machine{% endblocktrans %}</div>
                {% endif %}
            </div>
            {% if machine.needs_qualification %}
            <div class="tab-pane" id="instructor-tab-pane" role="tabpanel" aria-labelledby="instructor-tab" tabindex="0">
                <div class="text-body-secondary">{% blocktrans %}{{ instructors_count }} people can instruct on usage of this machine:{% endblocktrans %}</div>
                {% include "instructor_table.html" with is_partial=True %}
            </div>
            {% endif %}
            {% if perms.access_log.view_access_log %}
            <div class="tab-pane" id="accesslog-tab-pane" role="tabpanel" aria-labelledby="accesslog-tab" tabindex="0"></div>
            {% endif %}
            <div class="tab-pane" id="statistics-tab-pane" role="tabpanel" aria-labelledby="statistics-tab" tabindex="0"></div>
          </div>
    </div>
</div>
{% endblock %}