{% extends "base_form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% if machine %}
{% blocktrans %}Edit <span class="text-primary-emphasis">{{ machine.name }}</span>{% endblocktrans %}
{% else %}
{% blocktrans %}Add a new machine{% endblocktrans %}
{% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block pre_title %}
{% if registration_requests %}
<h2>{% trans "Pending registration requests" %}</h2>
{% for request in registration_requests %}
<div class="alert alert-secondary" role="alert">
    <h6 class="alert-heading">{{ request.created }}</h6>
    <div class="float-end">
        <a href="{% url "machines:create" %}?request={{ request.pk}}" class="btn btn-primary btn-sm">{% trans "Create" %}</a>
        <a href="{% url "machines:delete-request" pk=request.pk %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
    </div>
    <ul class="list-unstyled mb-0">
        <li><span class="fw-bold text-emphasis">{% trans "Hostname" %}:</span> {{ request.hostname }}</li>
        <li><span class="fw-bold text-emphasis">{% trans "MAC Address" %}:</span> {{ request.mac_address }}</li>
        <li><span class="fw-bold text-emphasis">{% trans "IP Address" %}:</span> {{ request.ip_address }}</li>
    </ul>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block script_extra %}
const parentFormGroup = document.querySelector("#div_id_parent");
const typeSelect = document.querySelector("#id_type");
const typeHelpText = document.querySelector("#id_type_helptext");
const compartmentIdFormGroup = document.querySelector("#div_id_compartment_id");
const locationFormGroup = document.querySelector("#div_id_location");
const stateFormGroup = document.querySelector("#div_id_state");
const needsQualificationFormGroup = document.querySelector("#div_id_needs_qualification");

const networkFieldset = document.querySelector("#network-fieldset");
const securityFieldset = document.querySelector("#security-fieldset");
const clientFieldset = document.querySelector("#client-fieldset");

function updateMachineTypeFormElements () {
    const selectedOption = typeSelect.options[typeSelect.selectedIndex];

    if (selectedOption.value === "primary") {
        typeHelpText.innerHTML = "{% trans "Primary machines are machines with access control that are directly used by people" %}";
    } else if (selectedOption.value === "secondary") {
        typeHelpText.innerHTML = "{% trans "Secondary machines do not have access control and can be linked with primary machines. For example for dust extraction" %}";
    } else if (selectedOption.value === "lock") {
        typeHelpText.innerHTML = "{% trans "Single lock that opens p.e. a door" %}";
    } else if (selectedOption.value === "lock_group") {
        typeHelpText.innerHTML = "{% trans "Meta device for p.e. a locker. Does not have its own access control." %}";
    } else if (selectedOption.value === "compartment") {
        typeHelpText.innerHTML = "{% trans "Compartment within a locker." %}";
    }

    if (selectedOption.value === "compartment") {
        parentFormGroup.classList.remove("d-none");
        compartmentIdFormGroup.classList.remove("d-none");
        networkFieldset.classList.add("d-none");
        securityFieldset.classList.add("d-none");
        clientFieldset.classList.add("d-none");
        locationFormGroup.classList.add("d-none");
    } else {
        parentFormGroup.classList.add("d-none");
        compartmentIdFormGroup.classList.add("d-none");
        networkFieldset.classList.remove("d-none");
        securityFieldset.classList.remove("d-none");
        clientFieldset.classList.remove("d-none");
        locationFormGroup.classList.remove("d-none");
    }

    if (selectedOption.value === "lock_group") {
        stateFormGroup.classList.add("d-none");
        needsQualificationFormGroup.classList.add("d-none");
    } else {
        stateFormGroup.classList.remove("d-none");
        needsQualificationFormGroup.classList.remove("d-none");
    }
}
updateMachineTypeFormElements();
document.querySelector("#id_type").addEventListener("change", function() {
    updateMachineTypeFormElements();
});
{% endblock %}