{% extends 'base_detail.html' %}
{% load i18n %}

{% block title %}
  {{ object.name }}
  {% if object.has_api %}
    <div id="machine_state"></div>
  {% endif %}
{% endblock %}

{% block container_div %}
  {% if machine.has_api %}
    hx-ext="ws" ws-connect="/ws/machines/{{ machine.mac_address }}/state"
  {% endif %}
{% endblock %}

{% block top_actions %}
  {% if machine.has_api %}
    <div class="btn-group" role="group">
      <div id="command_dropdown" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Send Command' %}</button>
        <ul id="commands_menu" class="dropdown-menu"></ul>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="logsButton" data-bs-toggle="modal" data-bs-target="#logModal" class="btn btn-secondary" hx-get="{% url 'machines:logs' object.pk %}" hx-target="#logContainer" hx-swap="outerHTML" hx-trigger="click"><i class="bi-pencil-square me-2"></i>{% trans 'Logs ' %}</button>
    </div>
  {% endif %}
  <div class="btn-group" role="group">
    {% if can_edit %}
      <a href="{% url request.resolver_match.namespace|add:':update' object.pk %}" class="btn btn-primary"><i class="bi-pencil-square me-2"></i>{% trans 'Edit ' %}</a>
      <a href="{% url request.resolver_match.namespace|add:':configure' object.pk %}" class="btn btn-primary"><i class="bi-sliders me-2"></i>{% trans 'Configure' %}</a>
    {% endif %}
    {% if can_delete %}
      <a href="{% url request.resolver_match.namespace|add:':delete' object.pk %}" class="btn btn-danger" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"><i class="bi-trash me-1"></i>{% trans 'Delete' %}</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="row mb-4">
    <div class="col-md-4">
      <h4>{% trans 'Details' %}</h4>
      <ul class="list-unstyled">
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Type' %}:</span> {{ object.get_type_display }}
        </li>
        {% if object.parent %}
          <li>
            <span class="fw-bold text-secondary-emphasis">{% trans 'Locker' %}:</span> <a href="{% url "machines:detail" object.parent.pk %}">{{ object.parent }}</a>
          </li>
        {% endif %}
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Location' %}:</span>
          {% if object.location %}
            <a href="{% url 'locations:detail' object.location.pk %}">{{ object.location }}</a>
          {% elif object.parent.location %}
              <a href="{% url 'locations:detail' object.parent.location.pk %}">{{ object.parent.location }}</a>
          {% else %}
            --
          {% endif %}
          <br />
        </li>
        {% if object.type != "lock_group" %}
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'State' %}:</span> {% include "machine_state_label.html" with object=object %}
        </li>
        {% endif %}
        {% if object.type != "compartment" %}
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Chip' %}:</span> {{ object.get_chip_display }}
        </li>
        {% endif %}
        {% if object.firmware_version %}
          <li>
            <span class="fw-bold text-secondary-emphasis">{% trans 'Firmware Version' %}:</span> {{ object.firmware_version }}
          </li>
        {% endif %}
        {% if object.type != "lock_group" %}
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Last used' %}:</span> {{ last_access }}
        </li>
        {% endif %}
      </ul>
    </div>
    {% if machine.type != "compartment" %}
    <div class="col-md-4">
      <h4>{% trans 'Network' %}</h4>
      <ul class="list-unstyled">
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Hostname' %}:</span> {{ object.hostname }}
        </li>
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'MAC Address' %}:</span> {{ object.mac_address }}
        </li>
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'IP Address' %}:</span> {{ object.ip_address }}
        </li>
      </ul>
    </div>
    {% else %}
    <div class="col-md-4">
    </div>
    {% endif %}
    <div class="col-md-4">
      <h4>{% trans 'Configuration' %}</h4>
      <ul class="list-unstyled">
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Runtimer' %}:</span> {{ object.runtimer }}
        </li>
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Min Power' %}:</span> {{ object.min_power }}
        </li>
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Control Parameter' %}:</span> {{ object.control_parameter|default:'--' }}
        </li>
        <li>
          <span class="fw-bold text-secondary-emphasis">{% trans 'Allowed on Holidays' %}:</span> {{ object.allowed_on_holidays|yesno:_("Yes,No") }}
        </li>
      </ul>
    </div>
  </div>

  {% if machine.type != "lock_group" %}
  <div class="row">
    <div class="mb-5 col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="qualifications-tab" data-bs-toggle="tab" data-bs-target="#qualifications-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{% trans 'Qualifications' %}</button>
        </li>
        {% if perms.access_log.view_access_log %}
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="accesslog-tab" hx-get="{% url 'access_log:for-machine' object.pk %}" hx-target="#accesslog-tab-pane" data-bs-toggle="tab" data-bs-target="#accesslog-tab-pane" type="button" role="tab" aria-controls="accesslog-tab-pane" aria-selected="false">{% trans 'Access Log' %}</button>
          </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="statistics-tab" hx-get="{% url 'machines:statistics' object.pk %}" hx-target="#statistics-tab-pane" data-bs-toggle="tab" data-bs-target="#statistics-tab-pane" type="button" role="tab" aria-controls="statistics-tab-pane" aria-selected="false">{% trans 'Statistics' %}</button>
        </li>
      </ul>
      <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane show active" id="qualifications-tab-pane" role="tabpanel" aria-labelledby="qualifications-tab" tabindex="0">
          {% if machine.needs_qualification %}
            <div class="text-body-secondary clearfix">
              {% blocktrans %}{{ qualifications_count }} people are qualified to use this machine:{% endblocktrans %}
              {% if perms.people.qualify_person %}
                <a class="btn btn-primary btn-sm float-end mb-2" href="{% url 'machines:qualify' machine.pk %}">{% trans 'Qualify Person' %}</a>
              {% endif %}
            </div>
            {% include 'machine_qualifications_table.html' with is_partial=True %}
          {% else %}
            <div class="text-body-secondary">
              {% blocktrans %}All active users are qualified to use this machine{% endblocktrans %}
            </div>
          {% endif %}
        </div>
        {% if perms.access_log.view_access_log %}
          <div class="tab-pane" id="accesslog-tab-pane" role="tabpanel" aria-labelledby="accesslog-tab" tabindex="0">
            {% include 'snippets/spinner.html' %}
          </div>
        {% endif %}
        <div class="tab-pane" id="statistics-tab-pane" role="tabpanel" aria-labelledby="statistics-tab" tabindex="0">
          {% include 'snippets/spinner.html' %}
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="mb-5 col-12">
      <h4 class="mb-4">{% trans "Compartments" %}</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for child in machine.children.all %}
            <tr>
              <td>
                <a href="{% url 'machines:detail' child.pk %}">{{ child.name }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% if machine.has_api %}
    <div class="modal" id="logModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans 'Logs' %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="logContainer"></div>
          <div class="modal-footer">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="autoscrollCheckbox" checked />
              <label class="form-check-label" for="autoscrollCheckbox">{% trans 'Auto Scroll' %}</label>
            </div>
            <div class="flex-fill"></div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script_extra %}
{% if machine.has_api %}
const autoScrollCheckbox = document.getElementById("autoscrollCheckbox");

function scrollLogToBottom() {
  if (!autoScrollCheckbox.checked) {
    return;
  }
  var logContainer = document.getElementById("logContainer");
  logContainer.scrollTo(0, logContainer.scrollHeight);
}

const logModal = document.getElementById("logModal");
logModal.addEventListener("hidden.bs.modal", event => {
  var logContainer = document.getElementById("logContainer");
  const n = document.createElement("div")
  n.setAttribute("id", "logContainer");
  logContainer.replaceWith(n);
});
{% endif %}
{% endblock %}
