{% load i18n %}{% load base_extra %}
<div id="cinstructors_container">
    {% if instructors %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Member ID" %}</th>
                <th>{% trans "Date" %}</th>
                {% if perms.people.change_instructor %}
                <th width="30"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td><a href="{% url "people:detail" instructor.person.id %}">{{ instructor.person.name }}</a></td>
                <td><a href="{% url "people:detail" instructor.person.id %}">{{ instructor.person.member_id }}</a></td>
                <td>{{ instructor.created|date:"DATE_FORMAT" }}</td>
                {% if perms.people.change_instructor %}
                <td>
                <div class="d-inline"
                data-bs-toggle="tooltip"
                title="{% trans 'Revoke' %}">
                <a
                href="{% url 'people:revoke-instructor' instructor.person.pk instructor.pk %}"
                data-bs-toggle="modal"
                data-bs-target="#hx_delete_modals"
                hx-get="{% url 'people:revoke-instructor' instructor.person.pk instructor.pk %}"
                hx-target="#hx_delete_modals"
                hx-trigger="click"
                >{% include 'snippets/hoverable_revoke.html' %}</a>
                </div>
            </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% url 'machines:instructors' machine.pk as page_path %}
    {% include "base_pagination.html" with page_obj=instructors target="instructors_container" %}
    {% else %}
    {% include "snippets/empty.html" with icon="ban" message="There are no instructors for this machine"|translate %}
    {% endif %}
</div>