{% load i18n %}{% load base_extra %}
<div id="qualifications_container">
    {% if qualifications %}
    <div class="max-w-full overflow-x-auto rounded-box border border-base-content/10">
    <table class="table table-sm table-zebra">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Is Instructor" %}</th>
                <th>{% trans "Is Maintainer" %}</th>
                <th>{% trans "Access Type" %}
                <th style="max-width: 40%;">{% trans "Comment" %}</th>
                <th>{% trans "Instructed by" %}</th>
                <th>{% trans "Date" %}</th>
                {% if perms.people.qualify_person %}
                <th width="60"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for qualification in qualifications %}
            <tr>
                <td>{% include "cells/person.html" with person=qualification.person %}</td>
                <td>{% include "snippets/boolean.html" with object=qualification.is_instructor %}</td>
                <td>{% include "snippets/boolean.html" with object=qualification.is_maintainer %}</td>
                <td>{% include "cells/permission_level.html" with permission_level=qualification.permission_level %}</td>
                <td style="max-width: 600px;">{{ qualification.comment }}</td>
                <td>{% if qualification.instructed_by %}
                    <a class="link" href="{% url "people:detail" qualification.instructed_by.pk %}">{{ qualification.instructed_by }}</a>
                    {% else %}--{% endif %}
                </td>
                <td>{% user_date qualification.created "DATE_FORMAT" %}</td>
                {% if perms.people.qualify_person %}
                    <td>
                        <a href="{% url "people:edit-qualification" qualification.person.pk qualification.pk %}" class="tooltip" data-tip="{% trans 'Edit' %}"><i data-lucide="square-pen" class="w-4 h-4"></i></a>
                        <a
                        class="tooltip"
                        data-tip="{% trans 'Revoke' %}"
                        href="{% url 'people:revoke-qualification' qualification.person.pk qualification.pk %}?next={{ request.path }}"
                        data-modal-target="hx_delete_modals"
                        hx-get="{% url 'people:revoke-qualification' qualification.person.pk qualification.pk %}?next={{ request.path }}"
                        hx-target="#hx_delete_modals"
                        hx-trigger="click"
                        >{% include 'snippets/hoverable_revoke.html' %}</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% url 'machines:qualifications' machine.pk as page_path %}
    {% include "base_pagination.html" with page_obj=qualifications target="qualifications_container" %}
    {% else %}
    {% include "snippets/empty.html" with icon="ban" message="There are no people qualified for this machine"|translate %}
    {% endif %}
</div>
