{% extends base_template %}
{% load i18n %}

{% block empty_state %}
  {% include 'snippets/empty_list.html' with model=model icon='hard-drive' can_create=can_create %}
{% endblock %}

{% block table %}
  <thead>
    <tr>
      <th class="w-10"></th>
      <th>
        {% trans 'Name' %}
      </th>
      <th>
        {% trans 'State' %}
      </th>
      <th>
        {% trans 'Last Used' %}
      </th>
      {% if can_edit %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  {% for object in machines %}
    <tr>
      <td>
        {% include 'snippets/machine_type_badge.html' with machine=object %}
      </td>
      <td>
        <a class="link-hover link-primary" href="{% url 'machines:detail' object.pk %}">{{ object.name }}</a>
      </td>
      <td>
        {% include 'snippets/machine_state_label.html' with object=object %}
      </td>
      <td class="tabular-nums">
        {% if object.last_used %}
          {% include 'snippets/timestamp.html' with timestamp=object.last_used %}
        {% else %}
          <span class="text-base-content/60">{% trans 'Never' %}</span>
        {% endif %}
      </td>
      {% if can_edit %}
        <td>
          <div class="flex gap-2 justify-end">
            <a href="{% url 'machines:update' object.pk %}" class="tooltip" data-tip="{% trans 'Edit' %}"><i data-lucide="square-pen" class="w-4 h-4 me-1"></i></a>
          </div>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}
