{% load i18n %}
<h6 id="machine_state" class="d-inline align-bottom">
{% if status == 'standby' %}
  <small class="badge text-bg-secondary h5">{% trans 'Standby' %}</small>
{% elif status == 'disconnected' %}
  <span class="badge text-bg-danger">{% trans 'Offline' %}</span>
{% elif status == 'enabled' %}
  <small class="badge text-bg-warning">{% trans 'Enabled' %}</small>
  {% elif status == 'active' %}
    <small class="badge text-bg-greenb">{% trans 'Active' %}</small>
{% else %}
  <small class="label label-warning">{% trans 'Unknown' %}</small>
{% endif %}
</h6>

<div id="command_dropdown" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% trans "Send Command" %}
  </button>
<ul id="commands_menu" class="dropdown-menu">
  <li><a id="reload_command"
    class="dropdown-item{% if status != 'standby' %} disabled{% endif %}"
    href="#"
    hx-vals='{"command": "reload_config"}'
    ws-send>{% trans "Reload Config" %}</a></li>
  <li><a id="restart_command"
    class="dropdown-item{% if status != 'standby' %} disabled{% endif %}"
    href="#"
    hx-vals='{"command": "restart"}'
    ws-send>{% trans "Restart Machine" %}</a></li>
  <li><a
    id="enable_command"
    class="dropdown-item{% if status != 'standby' %} disabled{% endif %}"
    href="#"
    hx-vals='{"command": "enable"}'
    ws-send>{% trans "Enable" %}</a></li>
  <li><a
    id="disable_command"
    class="dropdown-item{% if status != 'enabled' %} disabled{% endif %}"
    href="#"
    hx-vals='{"command": "disable"}'
    ws-send>{% trans "Disable" %}</a></li>
  </ul>
</div>