{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% with day_count=selected_days %}
<h4>{% blocktrans %}Access by day (last {{ day_count }} days){% endblocktrans %}
  <div class="float-end">
    <select
    id="id_days"
    class="form-select"
    name="days"
    hx-get="{{ request.path }}"
    hx-target="#statistics-tab-pane"
    hx-trigger="change">
    {% for choice in days_choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == selected_days %}selected{% endif %}>{{ choice.1 }}</option>
    {% endfor %}
    </select>
  </div>
</h4>
<div style="height: 300px;"><canvas id="daily_usage"></canvas></div>
<h4 class="mt-4">{% blocktrans %}Access by hour (last {{ day_count }} days){% endblocktrans %}</h4>
<div style="height: 300px;"><canvas id="hourly_usage"></canvas></div>
<h4 class="mt-4">{% blocktrans %}Access by Weekday (last {{ day_count }} days){% endblocktrans %}</h4>
<div style="height: 300px;"><canvas id="weekday_usage"></canvas></div>
{% endwith %}
{% endblock %}

{% block script_extra %}
(async function() {
    const by_day = [
{% for entry in access_by_day %}{ date: '{{ entry.day }}', count: {{ entry.count }} }{% if not forloop.last %},{% endif %}
{% endfor %}
    ];

    const by_hour = [
      {% for entry in access_by_hour %}{ hour: '{{ entry.hour }}', count: {{ entry.count }} }{% if not forloop.last %},{% endif %}
      {% endfor %}
          ];

    const by_weekday = [
      {% for entry in access_by_weekday %}{ weekday: '{{ entry.weekday }}', count: {{ entry.count }} }{% if not forloop.last %},{% endif %}
      {% endfor %}
          ];

    new Chart(
      document.getElementById('daily_usage'),
      {
        type: 'bar',
        data: {
          labels: by_day.map(row => row.date),
          datasets: [
            {
              label: 'Access by day',
              data: by_day.map(row => row.count)
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      }
    );

    new Chart(
      document.getElementById('hourly_usage'),
      {
        type: 'bar',
        data: {
          labels: by_hour.map(row => row.hour),
          datasets: [
            {
              label: 'Access by hour',
              data: by_hour.map(row => row.count)
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      }
    );

    new Chart(
      document.getElementById('weekday_usage'),
      {
        type: 'bar',
        data: {
          labels: by_weekday.map(row => row.weekday),
          datasets: [
            {
              label: 'Access by weekday',
              data: by_weekday.map(row => row.count)
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      }
    );
  })();
 
  {% endblock %}