db.sqlite3
*.pyc
venv
.DS_Store
/server/rfiding/settings.py
.parcel-cache
node_modules
/server/static/css/main.css
/server/static/css/main.css.map
/server/static/js/main.js
/server/static/js/main.js.map
/docs/_build