{% load crispy_forms_field %}
{% load l10n %}

<div id="div_{{ field.auto_id }}" class="mb-3{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

    {% if field.label and form_show_labels %}
        <label for="{{ field.id_for_label }}" class="label">
            {{ field.label }}{% if field.field.required %}<span class="text-error">*</span>{% endif %}
        </label>
    {% endif %}

    <div {% if field_class %}class="{{ field_class }}"{% endif %}>
        <div class="join{% if input_size %} {{ input_size }}{% endif %}">
            {% if crispy_prepended_text %}
                <span class="join-item bg-base-200 flex items-center px-3 text-sm">{{ crispy_prepended_text }}</span>
            {% endif %}

            {% if field|is_select %}
                {% if field.errors %}
                    {% crispy_field field 'class' 'select select-sm join-item select-error validator' 'aria-invalid' 'true' %}
                {% else %}
                    {% crispy_field field 'class' 'select select-sm join-item' %}
                {% endif %}
            {% elif field.errors %}
                {% crispy_field field 'class' 'input input-sm join-item input-error validator' 'aria-invalid' 'true' %}
            {% else %}
                {% crispy_field field 'class' 'input input-sm join-item' %}
            {% endif %}

            {% if crispy_appended_text %}
                <span class="join-item bg-base-200 flex items-center px-3 text-sm">{{ crispy_appended_text }}</span>
            {% endif %}
            {% if error_text_inline %}
                {% include 'daisyui/layout/field_errors.html' %}
            {% else %}
                {% include 'daisyui/layout/field_errors_block.html' %}
            {% endif %}
        </div>
    {% if not help_text_inline %}
        {% include 'daisyui/layout/help_text.html' %}
    {% endif %}
    </div>

</div>
