{% extends "base.html" %}
{% load i18n  %}
{% load static %}

{% block content %}
<div class="col-md-3 mx-auto">
    <div class="mx-auto mb-5" style="width: 140px;">
        <img src="{% static "images/logo-dark.svg" %}" alt="Logo" width="140">
    </div>
    <h3>{% trans "Sign in" %}</h3>
    <form class="form-signin" method="post">
        {% csrf_token %}
    {% if form.errors %}
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">{% trans "E-Mail Address or password incorrect" %}</div>
            </div>
        </div>
    {% endif %}
    <div class="form-floating">
        <input type="email" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" required value="{{ form.username.value|default:"" }}" placeholder="{% trans "E-Mail Address" %}" style="margin-bottom: -1px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;">
        <label for="{{ form.username.id_for_label }}">{% trans "E-Mail Address" %}</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="{% trans "Password" %}" style="margin-top: -1px;border-top-right-radius: 0;border-top-left-radius: 0;">
        <label for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
    </div>
    <div class="d-grid gap-2 mt-3">
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
    </div>
</div>
</div>
{% endblock %}

<input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
