{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="w-full max-w-sm mx-auto">
    <div class="mx-auto mb-5 w-[140px]">
      <img src="{% static 'images/logo_dark.svg' %}" alt="Logo" width="140" />
    </div>
    <h3 class="text-xl font-bold mb-4">{% trans 'Sign in' %}</h3>
    <form method="post" class="fieldset">
      {% csrf_token %}
      {% if form.errors %}
        <div role="alert" class="alert alert-error mb-2">
          {% trans 'E-Mail Address or password incorrect' %}
        </div>
      {% endif %}
      <label class="label" for="{{ form.username.id_for_label }}">{% trans 'E-Mail Address' %}</label>
      <input type="email" class="input w-full" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" required value="{{ form.username.value|default:'' }}" placeholder="{% trans 'E-Mail Address' %}" />

      <label class="label" for="{{ form.password.id_for_label }}">{% trans 'Password' %}</label>
      <input type="password" class="input w-full" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="{% trans 'Password' %}" />

      <button class="btn btn-primary btn-block mt-4" type="submit">{% trans 'Sign in' %}</button>
    </form>
  </div>
{% endblock %}
