{% extends "widgets/base.html" %}{% load i18n %}

{% block card_body_outer %}
<div class="card-body p-0">
<div class="max-w-full overflow-x-auto">
<table class="table table-sm m-0">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Token" %}</th>
        </tr>
        </thead>
        <tbody>
{% for object in widget.data.log_entries %}
<tr>
    <td>{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td>{% include "cells/machine.html" with machine=object.machine %}</td>
    <td>{% include "cells/access_log_type.html" %}</td>
    <td>{% include "cells/token.html" with token=object.token %}</td>
</tr>
{% endfor %}
        </tbody>
</table>
</div>
<div class="flex justify-end p-2">
    <a href="{% url 'access_log:list' %}" class="btn btn-primary">{% trans "More" %}</a>
</div>
</div>
{% endblock %}
