{% extends "widgets/base.html" %}{% load i18n %}

{% block card_body_class %}p-0 gap-0{% endblock %}

{% block content %}
<div class="max-w-full overflow-x-auto">
<table class="table m-0">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Token" %}</th>
        </tr>
        </thead>
        <tbody>
{% if placeholder %}
{% for i in "12345" %}
<tr>
    <td><div class="skeleton h-4 w-24"></div></td>
    <td><div class="skeleton h-4 w-20"></div></td>
    <td><div class="skeleton h-4 w-16"></div></td>
    <td><div class="skeleton h-4 w-20"></div></td>
</tr>
{% endfor %}
{% else %}
{% for object in widget.data.log_entries %}
<tr>
    <td>{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td>{% include "cells/machine.html" with machine=object.machine %}</td>
    <td>{% include "cells/access_log_type.html" %}</td>
    <td>{% include "cells/token.html" with token=object.token %}</td>
</tr>
{% endfor %}
{% endif %}
        </tbody>
</table>
</div>
<div class="flex justify-end pb-2 px-2">
    <a href="{% url 'access_log:list' %}" class="btn btn-primary btn-sm">{% trans "More" %}</a>
</div>
{% endblock %}
