{% extends "widgets/base.html" %}{% load i18n %}{% load base_extra %}

{% block card_body_class %}p-0 gap-0{% endblock %}

{% block content %}
<div class="overflow-x-auto lg:overflow-x-visible">
<table class="table m-0">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Action" %}</th>
            <th></th>
            <th>{% trans "Object" %}</th>
        </tr>
        </thead>
        <tbody>
{% if placeholder %}
{% for i in "12345" %}
<tr>
    <td><div class="skeleton h-4 w-24"></div></td>
    <td><div class="skeleton h-4 w-20"></div></td>
    <td><div class="skeleton h-4 w-16"></div></td>
    <td><div class="skeleton h-4 w-32"></div></td>
</tr>
{% endfor %}
{% else %}
{% for object in widget.data.log_entries %}
<tr>
    <td>{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td>
        {% if object.actor %}
            <a class="link link-primary link-hover" href="{% url "users:detail" object.actor_id %}">{{ object.actor }}</a>
        {% else %}
            {% trans "System" %}
        {% endif %}
    </td>
    <td class="whitespace-nowrap">
  {% include "auditlog/logentry_action.html" with action=object.action %}
    </td>
      <td>
        <span class="badge badge-ghost badge-sm"><i data-lucide="{{ object.content_type.app_label|app_icon }}" class="w-3 h-3"></i> {{ object.content_type.name }}</span>
      </td>
      <td>
        <a class="link link-primary link-hover" href="{% url object.content_type.app_label|add:':detail' object.object_pk %}">{{ object.object_repr }}</a>
      </td>
    </tr>
{% endfor %}
{% endif %}
        </tbody>
</table>
</div>
<div class="flex justify-end pb-2 px-2">
    <a href="{% url 'auditlog' %}" class="btn btn-primary btn-sm">{% trans "More" %}</a>
</div>
{% endblock %}
