{% load i18n %}
{% if permission_level == "always" %}
<i class="bi-check-circle-fill me-2 text-success" aria-hidden="true"></i><span class="text-success-emphasis">{% trans "Always" %}</span>
{% elif permission_level == "if_space_open" %}
<i class="bi-door-circle-fill me-2 text-warning" aria-hidden="true"></i><span class="text-warning-emphasis">{% trans "If Space is Open" %}</span>
{% elif permission_level == "never" %}
<i class="bi-x-circle-fill me-2 text-danger" aria-hidden="true"></i><span class="text-danger-emphasis">{% trans "Never" %}</span>
{% endif %}