{% load i18n %}
{% load humanize %}
<html>
    <head>
        <title>Dingfabrik 3.0 Status</title>
        <style>
        body { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            margin: 0; 
        }
        </style>
    </head>
    <body bgcolor="{% if state.is_open %}#9BE564{% else %}#F95738{% endif %}">
        <div>
            <h1>{% blocktrans %}{{ space_name }} is {{ state_text }}.{% endblocktrans %}</h1>
            {% if warning != None %}
            <p>{{ warning }}</p>
            {% endif %}
            <p>{{ contact }}</p>
            {% with time=state.updated|naturaltime %}
            <p>{% blocktrans %}This state was set {{ time }}{% endblocktrans %} (<em>{{ state.updated }}</em>).</p>
            {% endwith %}
        </div>
    </body>
</html>