{% load i18n %}

<html>
    <head>
        <title>Dingfabrik 3.0 Status</title>
        <style>
        body { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            margin: 0; 
        }
        </style>
    </head>
    <body>
        <div>
            <h1>{% blocktrans %}Die Dingfabrik 3.0 ist {{ state_text }}.{% endblocktrans %}</h1>
            {% if warning != None %}
            <p>{{ warning }}</p>
            {% endif %}
            <p>{{ contact }}</p>
            <p>{% blocktrans %}Dieser Status wurde gesetzt (<em>{{ status.updated_at }}</em>).{% endblocktrans %}</p>
        </div>
    </body>
</html>