{% extends "base_slim.html" %}
{% load i18n %}

{% block title %}
{% trans "About" %}
{% endblock %}

{% block content %}
<div class="fieldset">
    <label class="label" for="version">{% trans "Version" %}</label>
    <input type="text"
           class="input w-full mb-3"
           value="{{ version }}"
           readonly
    />
    <div class="flex flex-col sm:flex-row gap-3">
        <div class="flex-1">
            <label class="label" for="scalaVersion">{% trans "Python version" %}</label>
            <input type="text"
                   class="input w-full"
                   value="{{ python_version }}"
                   readonly
            />
        </div>
        <div class="flex-1">
            <label class="label" for="sbtVersion">{% trans "Django version" %}</label>
            <input type="text"
                   class="input w-full"
                   value="{{ django_version }}"
                   readonly
            />
        </div>
    </div>
</div>
{% endblock %}
