{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{ object }}
{% endblock %}

{% block top_actions %}
<div class="join">
{% if can_edit %}
<a href="{% url request.resolver_match.namespace|add:':update' object.pk %}" class="btn btn-primary join-item"><i data-lucide="square-pen" class="w-4 h-4"></i>{% trans "Edit "%}</a>
{% endif %}
{% if can_delete %}
<a href="{% url request.resolver_match.namespace|add:':delete' object.pk %}" class="btn btn-error join-item" data-modal-target="confirmDeleteModal"><i data-lucide="trash-2" class="w-4 h-4"></i>{% trans "Delete"%}</a>
{% endif %}
</div>
{% endblock %}

{% block extra_content %}
{% if can_delete %}
{% include 'modals/delete_confirm.html' %}
{% endif %}
{% endblock %}
