{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{ object }}
{% endblock %}

{% block top_actions %}
<div class="btn-group" role="group">
{% if can_edit %}
<a href="{% url request.resolver_match.namespace|add:':update' object.pk %}" class="btn btn-primary"><i class="bi-pencil-square me-2"></i>{% trans "Edit "%}</a>
{% endif %}
{% if can_delete %}
<a href="{% url request.resolver_match.namespace|add:':delete' object.pk %}" class="btn btn-danger" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"><i class="bi-trash me-1"></i>{% trans "Delete"%}</a>
{% endif %}
</div>
{% endblock %}

{% block extra_content %}
{% if can_delete %}
{% include 'modals/delete_confirm.html' %}
{% endif %}
{% endblock %}