{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block container_classes %}container-slim{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}
            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        {% if object and can_delete %}
            <a class="btn btn-danger float-end" href="{% url request.resolver_match.namespace|add:':delete' object.pk %}">
                <i class="bi-trash me-1"></i> {% trans 'Delete' %}
            </a>
        {% endif %}
        {% block extra_form_buttons %}
        {% endblock %}
</form>
{% endblock %}