{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load base_extra %}

{% block container_classes %}!max-w-[700px]{% endblock %}

{% block pre_title %}
  <div class="flex items-center gap-3 mb-2">
    <div class="avatar avatar-placeholder">
      <div class="bg-base-300 text-base-content w-10 rounded-box">
        <i data-lucide="{% block breadcrumb_icon %}{{ request.resolver_match.app_name|app_icon }}{% endblock %}" class="w-5 h-5"></i>
      </div>
    </div>
    <div class="breadcrumbs text-sm py-0">
      <ul>
        <li><a class="link-hover" href="{% url request.resolver_match.namespace|add:':list' %}">{% block breadcrumb_parent_label %}{% get_verbose_name_plural view.model %}{% endblock %}</a></li>
        {% block breadcrumb_items %}
          {% if object %}
            <li><a class="link-hover" href="{% url request.resolver_match.namespace|add:':detail' object.pk %}">{{ object }}</a></li>
            <li>{% trans 'Edit' %}</li>
          {% else %}
            <li>{% blocktrans with name=view.model|verbose_name %}New {{ name }}{% endblocktrans %}</li>
          {% endif %}
        {% endblock %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
{% block pre_form %}{% endblock %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="flex items-center justify-between gap-2">
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        {% if object and can_delete %}
            <a class="btn btn-error" href="{% url request.resolver_match.namespace|add:':delete' object.pk %}">
                <i data-lucide="trash-2" class="w-4 h-4"></i> {% trans 'Delete' %}
            </a>
        {% endif %}
        {% block extra_form_buttons %}
        {% endblock %}
    </div>
</form>
{% block post_form %}{% endblock %}
{% endblock %}
