{% extends "base_slim.html" %}
{% load i18n %}

{% block content %}
    <div role="alert" class="alert alert-error">
        <i data-lucide="triangle-alert" class="w-5 h-5"></i>
        <div>
            <h3 class="font-bold">{% blocktrans %}Do you really want to delete <b>{{ object }}</b>?{% endblocktrans %}</h3>
            <p class="text-sm">{% blocktrans %}Deleting an object permanently removes it and can not be undone{% endblocktrans %}</p>
        </div>
    </div>
    <form action="" method="post" class="mt-4">
        {% csrf_token %}
        <div class="flex justify-end gap-2">
            <a href="{{ object.get_absolute_url }}" class="btn">{% trans "No" %}</a>
            <input type="submit" value="{% trans "Delete" %}" class="btn btn-error"/>
        </div>
    </form>
{% endblock %}
