{% block content %}
  {% if paginator.count == 0 %}
    {% block empty_state %}
      {% include 'snippets/empty_list.html' with model=model %}
    {% endblock %}
  {% else %}
    <div class="card card-border bg-base-100">
      <div class="card-body p-2">
        {% block table_outer %}
          <div class="max-w-full overflow-x-auto">
            <table class="table">
              {% block table %}

              {% endblock %}
            </table>
          </div>
        {% endblock %}
      </div>
    </div>
    <div class="mt-3">
      {% include 'base_pagination.html' %}
    </div>
  {% endif %}
{% endblock %}
