{% extends 'partial_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% block pre_form %}{% endblock %}
<form action="{% block form_url %}{% endblock %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="flex items-center justify-between gap-2">
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        {% if object and can_delete %}
            <a class="btn btn-error" href="{% url request.resolver_match.namespace|add:':delete' object.pk %}">
                <i data-lucide="trash-2" class="w-4 h-4"></i> {% trans 'Delete' %}
            </a>
        {% endif %}
        {% block extra_form_buttons %}
        {% endblock %}
    </div>
</form>
{% block post_form %}{% endblock %}
{% endblock %}
