{% extends "partial_base_modal.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Do you really want to delete <b>{{ object }}</b>?{% endblocktrans %}{% endblock %}

{% block content %}
<p>{% blocktrans %}Deleting an object permanently removes it and can not be undone{% endblocktrans %}</p>
{% endblock %}

{% block buttons %}
<form method="dialog"><button type="button" class="btn">{% trans "No" %}</button></form>
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-error">{% trans "Delete" %}</button>
</form>
{% endblock %}
