{% extends "base_list.html" %}
{% load i18n %}

{% block top_actions %}
{% if perms.firmware.add_firmware %}
<a href="{% url 'firmware:create' %}" class="btn btn-primary"><i class="bi-plus-lg"></i> {% blocktrans %}Add Firmware{% endblocktrans %}</a>
{% endif %}
{% endblock %}

{% block bottom_actions %}
{% if perms.firmware.add_firmware %}
<a href="{% url 'firmware:create' %}" class="btn btn-primary"><i class="bi-plus-lg"></i> {% blocktrans %}Add Firmware{% endblocktrans %}</a>
{% endif %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Version" %}</th>
        </tr>
        </thead>
{% for object in firmware %}
<tr>
<td><a href="{% url 'firmware:detail' object.pk %}">{{ object.name }}</a></td>
<td>{{ object.version }}</td>
</tr>
{% endfor %}
{% endblock %}