{% extends "base_detail.html" %}
{% load i18n %}

{% block content %}
<h4>{% trans "Details" %}</h4>
<ul class="mb-4 list-unstyled">
<li><span class="fw-bold text-secondary-emphasis">{% trans "Serial" %}:</span> {{ object.serial }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "Purpose" %}:</span> {{ object.purpose }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "Owner" %}:</span> <a href="{% url 'people:detail' object.person.pk %}">{{ object.person }}</a></li>
<li><span class="fw-bold text-secondary-emphasis">{% trans "Is Active" %}:</span> {% include "snippets/active_toggle.html" %}<br></li>
{% if object.notes %}
<li><span class="fw-bold text-secondary-emphasis">{% trans "Notes" %}:</span> {{ object.notes }}<br></li>
{% endif %}
</ul>

<a class='btn btn-primary'
    href="{% url 'access_log:for-token' object.pk %}"
    hx-get="{% url 'access_log:for-token' object.pk %}"
                        hx-swap="outerHTML">
        {% trans "Load Access Log" %} <i class="htmx-indicator loader"></i>
</a>
{% endblock %}