{% extends "base_detail.html" %}
{% load i18n %}

{% block content %}
<h4>{% trans "Details" %}</h4>
<ul class="mb-4 list-unstyled">
<li><span class="fw-bold text-secondary-emphasis">Serial:</span> {{ object.serial }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">Purpose:</span> {{ object.purpose }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">Owner:</span> <a href="{% url 'people:detail' object.pk %}">{{ object.person }}</a></li>
</ul>

<a class='btn btn-primary'
    href="{% url 'access_log:for-token' object.pk %}"
    hx-get="{% url 'access_log:for-token' object.pk %}"
                        hx-swap="outerHTML">
        {% trans "Load Access Log" %} <i class="htmx-indicator loader"></i>
</a>
{% endblock %}