{% load i18n %}
<div id="can_instruct_container">
    {% if can_instruct %}
    <div>{% with name=person.name %}{% blocktrans %}<b>{{ name }}</b> can instruct people for the following machines:{% endblocktrans %}{% endwith %}</div>
    <table class="table table-striped table-bordered mt-1">
        <thead>
            <tr>
                <th>{% trans "Hostname" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Date" %}</th>
                {% if perms.people.change_instructor %}
                <th>{% trans "Revoke" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for instructor in can_instruct %}
            <tr>
                <td><a href="{% url "machines:detail" instructor.machine.pk %}">{{ instructor.machine.hostname }}</a></td>
                <td><a href="{% url "machines:detail" instructor.machine.pk %}">{{ instructor.machine.name }}</a></td>
                <td>{{ instructor.created|date:"DATE_FORMAT" }}</td>
                {% if perms.people.change_instructor %}
                    <td>
                        <div class="d-inline"
                        data-bs-toggle="tooltip"
                        title="{% trans 'Revoke' %}">
                        <a
                        href="{% url 'people:revoke-instructor' instructor.person.pk instructor.pk %}"
                        data-bs-toggle="modal"
                        data-bs-target="#hx_delete_modals"
                        hx-get="{% url 'people:revoke-instructor' instructor.person.pk instructor.pk %}"
                        hx-target="#hx_delete_modals"
                        hx-trigger="click"
                        >{% include 'snippets/hoverable_revoke.html' %}</a>
                        </div>
                    </td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% url 'people:instructs-for' person.pk as page_path %}
    {% include "base_pagination.html" with page_obj=can_instruct target="can_instruct_container" %}
    {% else %}
        <div class="alert alert-secondary">{% with name=person.name %}{% blocktrans %}<b>{{ name }}</b> can not instruct people for any machines.{% endblocktrans %}{% endwith %}</div>
    {% endif %}
</div>