{% load i18n %}{% load base_extra %}
<div id="qualifications_container">
  {% if qualifications %}
    <table class="table table-striped table-bordered mb-4 mt-1">
      <thead>
        <tr>
          <th>
            {% trans 'Name' %}
          </th>
          <th>{% trans "Is Instructor" %}</th>
          <th>{% trans "Is Maintainer" %}</th>
          <th>{% trans 'Permission Level' %}</th>
          <th>{% trans 'Instructed by' %}</th>
          <th>
            {% trans 'Comment' %}
          </th>
          <th>
            {% trans 'Date' %}
          </th>
          {% if perms.people.qualify_person %}
            <th width="60"></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for qualification in qualifications %}
          <tr class="align-middle">
            <td>{% include "cells/machine.html" with machine=qualification.machine %}</td>
            <td>{% include "snippets/boolean.html" with object=qualification.is_instructor %}</td>
            <td>{% include "snippets/boolean.html" with object=qualification.is_maintainer %}</td>
            <td>{% include "cells/permission_level.html" with permission_level=qualification.permission_level %}</td>
            <td>
              {% if qualification.instructed_by %}
                <a href="{% url 'people:detail' qualification.instructed_by.pk %}">{{ qualification.instructed_by }}</a>
              {% else %}
                --
              {% endif %}
            </td>
            <td>{{ qualification.comment|default:'' }}</td>
            <td>{% user_date qualification.created "DATE_FORMAT" %}</td>
            {% if perms.people.qualify_person %}
              <td>
                <a href="{% url 'people:edit-qualification' qualification.person.pk qualification.pk %}" data-bs-toggle="tooltip" title="{% trans 'Edit' %}"><i class="bi-pencil-square me-2"></i></a>
                <div class="d-inline"
                data-bs-toggle="tooltip"
                title="{% trans 'Revoke' %}">
                <a
                href="{% url 'people:revoke-qualification' qualification.person.pk qualification.pk %}"
                data-bs-toggle="modal"
                data-bs-target="#hx_delete_modals"
                hx-get="{% url 'people:revoke-qualification' qualification.person.pk qualification.pk %}"
                hx-target="#hx_delete_modals"
                hx-trigger="click"
                >{% include 'snippets/hoverable_revoke.html' %}</a>
                </div>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'people:qualifications' person.pk as page_path %}
    {% include 'base_pagination.html' with page_obj=qualifications target='qualifications_container' %}
  {% else %}
    <div class="alert alert-secondary">
      <i class="h5 bi-ban me-2"></i>
      <span class=align-top>{% with name=person.name %}
        {% blocktrans %}<b>{{ name }}</b> is not qualified for any machines.{% endblocktrans %}
      {% endwith %}
      </span>
    </div>
  {% endif %}
</div>
