{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% blocktrans %}Update qualification for <span class="text-primary">{{ person }}</span> using <span class="text-primary">{{ machine }}</span>{% endblocktrans %}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.person }}
    {{ form.machine }}
    {{ form.instructed_by|as_crispy_field }}
    {{ form.permission_level|as_crispy_field }}
    {{ form.is_instructor|as_crispy_field }}
    {{ form.is_maintainer|as_crispy_field }}
    {{ form.comment|as_crispy_field}}
    <div class="flex items-center gap-2 mb-3">
        <button class="btn btn-primary flex-1" type="submit">{% trans "Save" %}</button>
        <button type="button" class="btn" data-modal-close>{% trans "Cancel" %}</button>
    </div>
</form>
{% endblock %}
