{% extends "base_slim.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <div class="alert-danger alert d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-3"></i>
                <div>
                    {% with person=object.person machine=object.machine %}
                    <h5 class="mb-0">{% blocktrans %}Revoke the qualification that <b>{{ person }}</b> has on <b>{{ machine }}</b>?{% endblocktrans %}</h5>
                    {% endwith %}
                </div>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="text-right">
                    <a href="{{ object.get_absolute_url }}" class="btn btn-secondary me-3">{% trans "No" %}</a>
                    <input type="submit" value="{% trans "Revoke" %}" class="btn btn-danger"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}