{% extends base_template %}
{% load i18n %}

{% block top_actions %}
<select
    id="log_action"
    name="action"
    class="form-control"
    hx-get="{% url 'access_log:list' %}"
    hx-trigger="change delay:500ms"
    hx-target="#main_list"
    hx-push-url="true">
    {% for x, y in filter_form.fields.action.choices %}
    <option value="{{ x }}"{% if form.fields.action.value == x %} selected{% endif %}>{{ y }}</option>
    {% endfor %}
</select>
{% endblock %}

{% block bottom_actions %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Token" %}</th>
        </tr>
        </thead>
{% for object in object_list %}
<tr>
    <td>{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td><a href="{% url 'machines:detail' object.machine.pk %}">{{ object.machine }}</a></td>
    <td>{{ object.get_type_display }}</td>
    <td>{% include "token_cell.html" with token=object.token %}</td>
</tr>
{% endfor %}
{% endblock %}