{% extends "base_list.html" %}
{% load i18n %}
{% load humanize %}

{% block top_actions %}
{% endblock %}
{% block bottom_actions %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Token" %}</th>
        </tr>
        </thead>
{% for object in object_list %}
<tr>
    <td>{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td><a href="{% url 'machines:detail' object.machine.pk %}">{{ object.machine }}</a></td>
    <td>{{ object.get_type_display }}</td>
    <td>{% include "token_cell.html" %}</td>
</tr>
{% endfor %}
{% endblock %}

{% block script_extra %}
$(document).ready(function(){
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="token-popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new window.bootstrap.Popover(popoverTriggerEl, {
    "html": true,
    "delay": 200,
    "content": function (e) {
        const token_pk = e.getAttribute('data-token-pk');
        console.log(token_pk);
        $.ajax({
            url: '{% url "tokens:person-for-token-popover" %}?token_pk=' + token_pk,
            success: function(response){
                $('#'+token_pk).html(response);
            }
        });
        return '<div id="'+ token_pk +'">Loading...</div>';
    }
}));
});
{% endblock %}