{% extends base_template %}
{% load i18n %}

{% block empty_state %}
{% include "snippets/empty_list.html" with model=model icon="list" can_create=False %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Token" %}</th>
        </tr>
        </thead>
{% for object in object_list %}
<tr>
    <td>{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td>{% include "cells/machine.html" with machine=object.machine %}</td>
    <td>{% include "cells/access_log_type.html" %}</td>
    <td>{% include "cells/token.html" with token=object.token %}</td>
</tr>
{% endfor %}
{% endblock %}
