{% extends 'base_content.html' %}
{% load i18n %}
{% block header %}{{ object.name }}{% endblock header %}

{% block actions %}
<a href="{% url 'people:update' object.pk %}" class="btn btn-secondary" role="button">
    <span class="bi-pencil" />
    {% trans "Edit" %}</a>
{% endblock actions %}

{% block content%}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <tr>
                        <th>{% trans "Member ID" %}</th>
                        <td>{{ object.member_id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Full Name" %}</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "E-Mail" %}</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Is Active" %}</th>
                        <td>{{ object.is_active }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body p-0">
                        <h5 class="card-title ms-3 mt-2">{% trans "Qualifications" %}</h5>
                <ul class="list-group list-group-flush">
                    {% for qualification in object.qualifications.all %}
                    <li class="list-group-item"><a href="{% url 'machines:detail' qualification.machine.pk %}">{{ qualification.machine }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body p-0">
                <h5 class="card-title ms-3 mt-2">{% trans "Tokens" %}</h5>
        <ul class="list-group list-group-flush">
            {% for token in object.tokens.all %}
            <li class="list-group-item"><a href="#">{{ token.serial }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}