{% extends 'base_content.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block pagewidth%}4{% endblock pagewidth %}

{% block header %}{% if form.instance.id %}{{ form.instance.name }}{% else %}{% trans "Add new person" %}{% endif %}{% endblock header %}

{% block content %}
<form method="post" class="form">
    {% csrf_token %}
  
    {% bootstrap_form form %}
  
    {% bootstrap_button button_type="submit" content="OK" %}
    {% bootstrap_button button_type="reset" content="Cancel" extra_classes="btn-secondary" %}
  </form>
{% endblock content %}