{% extends 'base_content.html' %}
{% load i18n %}
{% block title %}{{ object.name }}{% endblock title %}
{% block header %}{{ object.name }}{% endblock header %}

{% block actions %}
<a href="{% url 'machines:update' object.pk %}" class="btn btn-secondary" role="button">
    <span class="bi-pencil" />
    {% trans "Edit" %}</a>
{% endblock actions %}

{% block content%}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <tr>
                        <th>{% trans "Hostname" %}</th>
                        <td>{{ object.hostname }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "MAC Address" %}</th>
                        <td>{{ object.mac_address }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Comment" %}</th>
                        <td>{{ object.comment }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body p-0">
                <h5 class="card-title ms-3 mt-2">{% trans "Qualified Users" %}</h5>
                <ul class="list-group list-group-flush">
                    {% for qualification in object.qualified_people.all %}
                    <li class="list-group-item d-flex">
                        <a href="{% url 'people:detail' qualification.person.pk %}" class="me-auto">{{ qualification.person }}</a>
                        <a type="button" class="btn btn-outline-danger btn-sm ms-auto" href="{% url 'people:unassign_qualification' qualification.person.pk qualification.machine.pk %}"><i class="bi-x"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}