{% extends 'base_content.html' %}
{% load i18n %}
{% block title %}{% trans "Machines" %}{% endblock title %}
{% block header %}{% trans "Machines" %}{% endblock header %}

{% block actions %}
<a href="{% url 'machines:create' %}" class="btn btn-primary" role="button">
    <span class="bi-plus" />
    {% trans "Add Machine" %}</a>
{% endblock actions %}

{% block content %}

<div class="card">
    <div class="card-body p-0">
<table class="table mb-0">
    <tr>
        <th>{% trans "Hostname" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Active" %}</th>
    </tr>
    {% for machine in object_list %}
    <tr>
        <td><a href="{% url 'machines:detail' machine.pk %}">{{ machine.hostname }}</a></td>
        <td><a href="{% url 'machines:detail' machine.pk %}">{{ machine.name }}</a></td>
        <td>{% if machine.is_active %}<i class="bi-check-square-fill text-success" />{% else %}<i class="bi-times-square text-danger" />{% endif %} </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}