{% extends "base_list.html" %}
{% load i18n %}

{% block title %}
{% with name=token %}{% blocktrans %}Access Log for {{ name }}{% endblocktrans %}{% endwith %}
{% endblock %}

{% block top_actions %}
{% endblock %}
{% block bottom_actions %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
{% for object in object_list %}
<tr>
    <td><span data-bs-toggle="tooltip" title="{{ object.timestamp }}">{{ object.timestamp|naturaltime }}</span></td>
    <td>{{ object.machine }}</td>
    <td>{{ object.get_type_display }}</td>
</tr>
{% endfor %}
{% endblock %}