{% load i18n %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
{% for object in object_list %}
<tr>
    <td><span data-bs-toggle="tooltip" title="{{ object.timestamp }}">{{ object.timestamp|naturaltime }}</span></td>
<td>{{ object.machine }}</td>
<td>{{ object.get_type_display }}</td>
</tr>
{% endfor %}
</table>

{% include "base_pagination.html" %}