{% load i18n %}{% load base_extra %}
<div class="alert alert-secondary">
    <div class="px-4 py-3 text-center">
    {% if icon %}
    <i class="bi-{{ icon }} display-2 text-secondary d-block mx-auto mb-2""></i>
    {% endif %}
    <h1 class="h2 fw-bold text-body-secondary">{% with model|verbose_name_plural as modelname %}{% blocktrans %}No {{ modelname }} found.{% endblocktrans %}{% endwith %}</h1>
    {% if request.GET.search %}
    <p class="lead text-secondary">{% with request.GET.search as search_query %}{% blocktrans %}No results for "{{ search_query }}".{% endblocktrans %}{% endwith %}</p>
    {% elif can_create %}
    <p class="lead text-secondary">{% with model|verbose_name as modelname %}{% blocktrans %}You can create a {{ modelname }} with the + button.{% endblocktrans %}{% endwith %}</p>
    {% endif %}
    </div>
</div>