{% if object.state == "maintenance" %}
<div class="badge badge-soft badge-sm badge-warning"><i data-lucide="wrench" class="w-4 h-4 inline" aria-hidden="true"></i>{{ object.get_state_display }}</div>
{% elif object.state == "inactive" %}
<div class="badge badge-soft badge-sm badge-error"><i data-lucide="circle-x" class="w-4 h-4 inline" aria-hidden="true"></i>{{ object.get_state_display }}</div>
{% elif object.state == "active" %}
<div class="badge badge-soft badge-sm badge-success"><i data-lucide="circle-check-big" class="w-4 h-4 inline" aria-hidden="true"></i>{{ object.get_state_display }}</div>
{% else %}
<div class="badge badge-soft badge-sm badge-neutral"><i data-lucide="circle" class="w-4 h-4 inline" aria-hidden="true"></i>{{ object.get_state_display }}</div>
{% endif %}