{% if object.state == "maintenance" %}
<i data-lucide="wrench" class="w-4 h-4 inline text-warning" aria-hidden="true"></i><span class="text-warning">{{ object.get_state_display }}</span>
{% elif object.state == "inactive" %}
<i data-lucide="circle-x" class="w-4 h-4 inline text-error" aria-hidden="true"></i><span class="text-error">{{ object.get_state_display }}</span>
{% elif object.state == "active" %}
<i data-lucide="circle-check-big" class="w-4 h-4 inline text-success" aria-hidden="true"></i><span class="text-success">{{ object.get_state_display }}</span>
{% else %}
<b>{{ object.get_state_display }}</b>
{% endif %}
