{% extends base_template %}
{% load i18n %}
{% load humanize %}

{% block top_actions %}
{% include "snippets/search_form.html" %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Timestamp" %}</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Object" %}
            <th>{% trans "Changes" %}</th>
        </tr>
        </thead>
{% for object in object_list %}
<tr class="align-middle">
    <td style="white-space:nowrap;">{% include "snippets/timestamp.html" with timestamp=object.timestamp %}</td>
    <td>
    {% if object.actor %}
        <a href="{% url "users:detail" object.actor_id %}">{{ object.actor }}</a>
    {% else %}
        System
    {% endif %}
</td>
<td style="white-space:nowrap;">
    {% if object.action == 0 %}
    <i class="bi-plus-circle-fill text-success me-1"></i>{% trans "Created" %}
    {% elif object.action == 1 %}
    <i class="bi-pencil-fill text-secondary me-1"></i>{% trans "Updated" %}
    {% elif object.action == 2 %}
    <i class="bi-trash-fill text-danger me-1"></i>{% trans "Deleted" %}
    {% endif %}
</td>
<td><i>{{ object.content_type.name }}</i> {{ object.object_repr }}</td>
{% if object.action == 1%}
<td>
    <h6 class="mb-0">{% blocktrans count object.changes_dict|length as count %}1 change{% plural %}{{ count }} changes{% endblocktrans %}</h6>
    <small>{% for change in object.changes_dict %}{{ change }}{% if not forloop.last %}{% if forloop.revcounter == 2 %} {% trans "and" %} {% else %}, {% endif %}{% else %}{% endif %}{% endfor %}</small>
</td>
{% else %}
<td></td>
{% endif %}
</tr>
{% endfor %}
{% endblock %}