{% extends "base.html" %}
{% load i18n %}{% load base_extra %}

{% block title %}
{% trans "Welcome to RfiDing" %}
{% endblock title %}

{% block top_actions %}
<a href="#" class="btn btn-primary btn-square only-edit-mode"
    hx-get="{% url "users:widgets:create" %}"
    hx-target="#widget-modal .widget-modal-body"
    hx-trigger="click"
    hx-swap="innerHTML"
    onclick="showModal()"><i data-lucide="plus" class="w-4 h-4"></i></a>
<a href="#" class="btn btn-secondary btn-square" onclick="toggleEditMode()"><i data-lucide="square-pen" class="w-4 h-4"></i></a>
{% endblock %}

{% block content %}
<div class="grid grid-cols-12 gap-4" id="widgets"
    hx-get="{% url "users:widgets:home" %}"
    hx-trigger="load">
    {% for widget in widgets %}
    {% include widget.template with title=widget.title placeholder=True %}
    {% endfor %}
</div>
{% endblock content %}

{% block extra_content %}
<dialog id="widget-modal" class="modal">
    <div
    class="modal-box"
    hx-boost="true"
    hx-push-url="false"
    hx-target="#widgets">
        <div class="widget-modal-body"></div>
    </div>
    <form method="dialog" class="modal-backdrop"><button>{% trans "close" %}</button></form>
</dialog>
{% endblock %}

{% block script_extra %}
function toggleEditMode() {
    var main = document.getElementById("main");
    if (main.className.indexOf("edit-mode") == -1) {
        main.className += " edit-mode";
    } else {
        main.className = main.className.replace(" edit-mode", "");
    }
}
function showModal() {
    openModal('widget-modal');
}

htmx.on("htmx:afterRequest", function(evt) {
    if (evt.detail.elt.nodeName === "FORM") {
        closeModal('widget-modal');
    }
});
{% endblock %}
