{% load i18n %}
    <div class="col-sm pb-5">
        <div class="card border-secondary text-center">
            <div class="card-header">
                <a href="{% url 'tokens:list' %}">{% trans "Tokens" %}</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h3 mb-1 p-0">{{ activeTokenCount }}</span>
                        <p class="card-text text-secondary">{% trans "Active" %}</p>
                    </div>
                    <div class="col">
                        <span class="h3 mb-1 p-0">{{ tokenCount }}</span>
                        <p class="card-text text-secondary">{% trans "Total" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card border-secondary text-center">
            <div class="card-header">
                <a href="{% url 'people:list' %}">{% trans "People" %}</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h3 mb-1 p-0">{{ activePeopleCount }}</span>
                        <p class="card-text text-secondary">{% trans "Active" %}</p>
                    </div>
                    <div class="col">
                        <span class="h3 mb-1 p-0">{{ peopleCount }}</span>
                        <p class="card-text text-secondary">{% trans "Total" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card border-secondary text-center">
            <div class="card-header">
                <a href="{% url 'machines:list' %}">{% trans "Machines" %}</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h3 mb-1 p-0">{{ activeMachineCount }}</span>
                        <p class="card-text text-secondary">{% trans "Active" %}</p>
                    </div>
                    <div class="col">
                        <span class="h3 mb-1 p-0">{{ machineCount }}</span>
                        <p class="card-text text-secondary">{% trans "Total" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
