{% extends "base.html" %}
{% load i18n %}{% load base_extra %}

{% block title %}
{% trans "Welcome to RfiDing" %}
{% endblock title %}

{% block top_actions %}
<a href="#" class="btn btn-primary btn-sm only-edit-mode"
    hx-get="{% url "users:widgets:create" %}"
    hx-target="#widget-modal .modal-body"
    hx-trigger="click"
    hx-swap="innerHTML"
    onclick="showModal()"><i class="bi-plus"></i></a>
<a href="#" class="btn btn-secondary btn-sm" onclick="toggleEditMode()"><i class="bi-pencil-fill"></i></a>
{% endblock %}

{% block content %}
<div class="row justify-content-md-start" id="widgets"
    hx-get="{% url "users:widgets:home" %}"
    hx-trigger="load">
    {% for widget in widgets %}
    {% include widget.template with title=widget.title placeholder=True %}
    {% endfor %}
</div>
{% endblock content %}

{% block extra_content %}
<div id="widget-modal"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    hx-boost="true"
    hx-push-url="false"
    hx-target="#widgets">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
function toggleEditMode() {
    var main = document.getElementById("main");
    if (main.className.indexOf("edit-mode") == -1) {
        main.className += " edit-mode";
    } else {
        main.className = main.className.replace(" edit-mode", "");
    }
}
var modal = new bootstrap.Modal(document.getElementById('widget-modal'));
function showModal() {
    modal.show();
}

htmx.on("htmx:afterRequest", function(evt) {
    if (evt.detail.elt.nodeName === "FORM") {
        console.log(modal)
        modal.hide();
    }
});
{% endblock %}