{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Welcome to RfiDing" %}
{% endblock title %}

{% block content %}
<div class="row pb-5"
    hx-get="{% url "home_partial_counts" %}"
    hx-trigger="load">
    <div class="col-sm pb-5">
        <div class="card border-secondary text-center">
            <div class="card-header">
                <a href="{% url 'tokens:list' %}">{% trans "Tokens" %}</a>
            </div>
            <div class="card-body">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card border-secondary text-center">
            <div class="card-header">
                <a href="{% url 'people:list' %}">{% trans "People" %}</a>
            </div>
            <div class="card-body">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card border-secondary text-center">
            <div class="card-header">
                <a href="{% url 'machines:list' %}">{% trans "Machines" %}</a>
            </div>
            <div class="card-body">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}