{% extends "base_form.html" %}
{% load i18n %}

{% block title %}
{% if object %}
{% blocktrans %}Edit {{ object }}{% endblocktrans %}
{% else %}
{% blocktrans %}Add a new user{% endblocktrans %}
{% endif %}
{% endblock %}

{% block extra_form_buttons %}
{% if object and request.user.is_superuser %}
    <a class="btn btn-warning float-end me-3" href="{% url 'users:admin_change_password' object.pk %}">
        <i class="bi-key me-1"></i> {% trans 'Change Password' %}
    </a>
{% endif %}
{% endblock %}
{% block script_extra %}
const superuserElement = document.getElementById("id_is_superuser");
$("#id_user_permissions").prop("disabled", superuserElement.checked);
superuserElement.addEventListener('change', (event) => {
    $("#id_user_permissions").prop("disabled", event.currentTarget.checked);
});
{% endblock %}
