{% extends "base_form.html" %}
{% load i18n %}{% load crispy_forms_tags %}

{% block title %}
{% if object %}
{% blocktrans %}Edit {{ object }}{% endblocktrans %}
{% else %}
{% blocktrans %}Add a new user{% endblocktrans %}
{% endif %}
{% endblock %}

{% block content %}
{% block pre_form %}{% endblock %}
    {% crispy form %}
{% block post_form %}{% endblock %}
{% endblock %}

{% block script_extra %}
const superuserElement = document.getElementById("id_is_superuser");
$("#id_user_permissions").prop("disabled", superuserElement.checked);
superuserElement.addEventListener('change', (event) => {
    $("#id_user_permissions").prop("disabled", event.currentTarget.checked);
});
{% endblock %}
