{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_url %}{{ form_url }}{% endblock %}

{% block pre_title %}
<div class="flex items-center gap-3 mb-2">
  <div class="avatar avatar-placeholder">
    <div class="bg-base-300 text-base-content w-10 rounded-box">
      <i data-lucide="layout-dashboard" class="w-5 h-5"></i>
    </div>
  </div>
  <div class="breadcrumbs text-sm py-0">
    <ul>
      <li><a class="link-hover" href="{% url "home" %}">{% trans "Home" %}</a></li>
      {% if object %}
        <li>{% trans "Configure Widget" %}</li>
      {% else %}
        <li>{% trans "Add Widget" %}</li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block title %}
{% if object %}
{% blocktrans with name=object.title %}Configure {{ name }}{% endblocktrans %}
{% else %}
{% trans "Add widget" %}
{% endif %}
{% endblock %}

{% block content %}
<h3 class="text-lg font-bold mb-4">
    {% if object %}
        {% blocktrans with name=object.title %}Configure {{ name }}{% endblocktrans %}
    {% else %}
        {% trans "Add widget" %}
    {% endif %}
</h3>
<form action="{{ form_url }}" method="post">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}