@import PersonController.PersonFormData
@import PersonController.FormID
@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import helper.CSRF
@import forms.inputText
@import forms.inputNumber
@import forms.inputEmail
@import forms.checkBox

@(
    addPersonForm: Form[PersonFormData]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    messagesProvider: MessagesProvider,
    flash: Flash
)

@main(userOpt = Some(user), title = "Add a Person") {

<div>
    @helper.form(action = controllers.routes.PersonController.addPersonPost) {
    @if(flash.get("error").isDefined) {
        <div class="alert alert-danger" role="alert">@flash.get("error")</div>
    }

    @CSRF.formField
    <div class="col-md-12 order-md-1">
        <div class="row">
            <div class="col-md-12 mb-3">
                @inputNumber(addPersonForm(FormID.memberId), "Member ID (optional)")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                @inputText(addPersonForm(FormID.fullName), "Full name", required = true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                @inputEmail(addPersonForm(FormID.email), "E-Mail address", required = true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                @checkBox(addPersonForm(FormID.isActive), "Active")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add Person</button>
            </div>
        </div>
    </div>
    }
</div>
}
