@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import TokenController.AddTokenData
@import TokenController.FormKey
@import utils.ByteOps.RichByte
@import helper.CSRF
@import forms.inputText
@import forms.inputNumber

@(
    token: Seq[Byte],
    addTokenForm: Form[AddTokenData]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    messagesProvider: MessagesProvider,
    flash: Flash
)

@scripts = {
    <script type="text/javascript" src="@routes.HomeController.autocompletePersonJs()"></script>
}

@main(userOpt = Some(user), title = "Add Token", scripts = scripts) {
<div class="mb-3">
    @helper.form(action = controllers.routes.TokenController.addTokenPost) {

    @CSRF.formField
    <div class="col-md-12 order-md-1">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="@FormKey.tokenSerial">Token UUID</label>
                <input type="hidden" class="form-control" id="@FormKey.tokenSerial" name="@FormKey.tokenSerial" value="@token.asString" required readonly />
                <input type="text" class="form-control @addTokenForm(FormKey.tokenSerial).error.map(e => "is-invalid")" value="@token.stringForUI()" required readonly />
                @addTokenForm(FormKey.tokenSerial).error.map{ error => <div class="invalid-feedback">@error.format</div> }
            </div>
            <div class="col-md-8 mb-3">
                @inputText(field = addTokenForm(FormKey.tokenPurpose), description = "Purpose", required = true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-3">
                @inputText(field = addTokenForm(FormKey.findPersonName), description = "Select person", required = true, classEx = "autocomplete-person")
            </div>
            <div class="col-md-4 mb-3">
                @inputNumber(
                    field = addTokenForm(FormKey.findPersonId),
                    description = "Person ID",
                    required = true,
                    readonly = true,
                    errorText = Some("Please select a person in the 'Select person' field.")
                )
            </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Add Token</button>
    </div>
    }
</div>
}
