@import controllers.PersonController.PersonQualification
@import PersonController.FormID
@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import helper.CSRF
@import forms.inputNumber
@import forms.inputText
@import FlashKey.QualificationDeleted

@(
    result: Seq[(Option[(Machine, Qualification)], Person)],
    qualificationForm: Form[PersonQualification],
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    messagesProvider: MessagesProvider,
    flash: Flash
)

@personOfInterest = @{val (_, p) = result.head; p}
@machineQualiOpt = @{val (m, _) = result.head; m}

@scripts = {
    <script src="@routes.HomeController.autocompleteMachineJs(personOfInterest.id.get)"></script>
}


@main(
    userOpt = Some(user),
    title = "Qualify " + personOfInterest.name + " (#" + personOfInterest.id.get + ")",
    scripts = scripts
) {

    @helper.form(action = controllers.routes.PersonController.addQualificationPost) {
        @CSRF.formField
        <input type="hidden" name="@FormID.personId" id="@FormID.personId" value="@personOfInterest.id.get" />
        <div class="row mb-1">
            <div class="col-md-3">
                @inputNumber(qualificationForm(FormID.machineId), "Machine ID", readonly = true)
            </div>
            <div class="col-md-9">
                @inputText(qualificationForm(FormID.machineName), "Machine Name", classEx = "autocomplete-machine")
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                @inputText(qualificationForm(FormID.comment), "Comment")
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block"><span data-feather="plus"></span> Add Qualification</button>
            </div>
        </div>
    }

    @table_qualifications(personOfInterest.id, personOfInterest.name, result.filter(_._1.isDefined).map(_._1.get))
}

