@*
 * Modal dialog to confirm deletion of token.
 *
 * Call dialog via:
 *
 *     <button type="button" class="btn btn-danger btn-lg btn-block"
 *             data-toggle="modal" data-target="#confirmDelete<ID>">
 *         <span data-feather="trash-2"></span>
 *     </button>
 *
 * Note that every dialog needs to be identified by a unique id. (unique per html page).
 *@

@(machineId: Int, nameOpt: Option[String])

@name = {
  @nameOpt.getOrElse("machine")
}

@confirm_delete_dialog(
    id    = "Machine" + machineId,
    title = "Confirm deletion of machine #" + machineId,
    body  = "Really delete " + name + " with ID #" + machineId + "?",
    link  = controllers.routes.MachineController.deleteMachine(machineId).toString
)

