@import utils.navigation.NavigationComponent
@import controllers.security.LoginState.User

@(
    user: User,
    personLength: Int,
    activePerson: Int,
    tokenLength: Int,
    activeToken: Int,
    machineLength: Int,
    activeMachine: Int
)(
    implicit navigation: NavigationComponent,
    request: RequestHeader,
    flash: Flash
)

@main(userOpt = Some(user), title = "Welcome to RfiDing") {
<div class="row">
    <div class="col-sm mb-3">
        <div class="card text-center">
            <div class="card-header">
                Tokens
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">@activeToken</h4>
                        <p class="card-text text-secondary">Active</p>
                    </div>
                    <div class="col">
                        <h4 class="card-title">@tokenLength</h4>
                        <p class="card-text text-secondary">Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card text-center">
            <div class="card-header">
                People
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">@activePerson</h4>
                        <p class="card-text text-secondary">Active</p>
                    </div>
                    <div class="col">
                        <h4 class="card-title">@personLength</h4>
                        <p class="card-text text-secondary">Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card text-center">
            <div class="card-header">
                Machines
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">@activeMachine</h4>
                        <p class="card-text text-secondary">Active</p>
                    </div>
                    <div class="col">
                        <h4 class="card-title">@machineLength</h4>
                        <p class="card-text text-secondary">Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
