@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import controllers.routes.MachineController
@import helper.CSRF
@import controllers.FlashKey.DeletedMachine

@(
    machines: Seq[Machine],
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    flash: Flash
)

@scripts = {<script src="@routes.HomeController.toggleMachineActive"></script>}

@main(userOpt = Some(user), title = "List Machines", scripts = scripts) {
@for(mid <- flash.get(DeletedMachine)) {
    <div class="alert alert-success" role="alert">Deleted machine with ID @mid</div>
}
<div class="table-responsive">
    @CSRF.formField
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Database ID</th>
            <th>Name</th>
            <th>MAC-Address</th>
            <th>Machine Active</th>
            <th>Comment</th>
            <th>Modify</th>
            <th>Configure</th>
        </tr>
        </thead>
        <tbody>
        @for(machine <- machines) {
        <tr>
            <td>@machine.id</td>
            <td>@machine.name</td>
            <td><span class="monospace">@machine.macAddress</span></td>
            <td class="click-handler">
                <input type="checkbox" @if(machine.isActive) {checked="checked"} value="@machine.id" />
                <span id="nok-@machine.id" class="gone text-danger" data-feather="alert-triangle"></span>
                <span id="ok-@machine.id" class="gone text-success" data-feather="check-circle"></span>
            </td>
            <td>@machine.comment</td>
            <td><a href="@MachineController.modifyMachine(machine.id.get)"><span data-feather="edit"><!-- edit --></span></a></td>
            <td><a href="@MachineController.configureMachine(machine.id.get)"><span data-feather="sliders"><!-- sliders --></span></a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary btn-block" href="@routes.MachineController.addMachine">Add new machine</a>
</div>
}
