@import utils.navigation.NavigationComponent
@import utils.PaginatedResult
@import utils.time.RichLocalDateTime

@(
    results: PaginatedResult[(LogEntry, Option[Machine])],
    machines: Seq[Machine],
    filteredMachineId: Option[Int] = None
)(
    implicit navigation: NavigationComponent,
    implicitUser: security.LoginState.User,
    request: RequestHeader,
    flash: Flash
)

@scripts = {<script src="@routes.HomeController.filterLogEntry"></script>}
@form = {
  <div class="row">
    <label for="inputEmail3" class="col-6 col-form-label text-end">Filtered Machine</label>
    <div class="col-6">
      <select class="form-select" id="filter-machine">
        <option value="" @if(!filteredMachineId.isDefined){selected}>---</option>
        @for(machine <- machines) {
          <option value="@machine.id.get" @if(filteredMachineId == machine.id){selected}>@machine.name</option>
        }
      </select>
    </div>
  </div>
}
@main(userOpt = Some(implicitUser), title = "Access Log", scripts=scripts, form=form) {
  <div class="table">
    <table class="table table-striped table-bordered table-sm">
      <thead>
      <tr>
        <th>Access At</th>
        <th>Machine</th>
      </tr>
      </thead>
      <tbody>
        @for((entry, machine) <- results.entities) {
          <tr>
            <td data-toggle="tooltip" title="@entry.accessAt">@entry.accessAt.pretty()</td>
              <td>
                @if(machine.isDefined) {
                    <a href="@routes.MachineController.modifyMachine(machine.get.id.get)">@machine.get.name</a>
                }
              </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  @elements.pagination(results.currentOffset, results.totalCount, results.pageSize, { offset =>
    routes.LogEntryController.listLogEntries(Some(offset), filteredMachineId)
  })
}
