@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import controllers.routes.PersonController
@import controllers.routes.TokenController
@import utils.ByteOps.RichByte
@import helper.CSRF
@import java.time.LocalDateTime
@import utils.time.RichLocalDateTime

@(
    unknownTokens: Seq[(UnknownToken, Machine)]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    flash: Flash
)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/tooltips.js")"></script>
}

@main(userOpt = Some(user), title = "List unknown tokens", action=Some((routes.TokenController.clearUnknownTokenList, "Clear list")), scripts = scripts) {
<div>
    <p>
        Just put a new token in front of any registered machine and it will show up here.
        Make sure, you fetch the right token by cleaning this list before reading. This avoids mistakes.
    </p>
</div>
<div class="table-responsive">
    @for(tid <- flash.get(FlashKey.ListEmptied)) {
    <div class="alert alert-success" role="alert">List cleared.</div>
    }
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Machine</th>
            <th>Seen</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        @for((unknownToken, machine) <- unknownTokens) {
        <tr>
            <td><span class="monospace">@unknownToken.serial.stringForUI()</span></td>
            <td>@machine.name (#@machine.id)</td>
            <td data-toggle="tooltip" title="@unknownToken.readStamp">@unknownToken.readStamp.pretty()</td>
            <td><a href="@routes.TokenController.addToken(unknownToken.serial.asString)"><span data-feather="plus-circle"><!-- plus-circle --></span></a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
}
