@import utils.navigation.NavigationComponent
@import controllers.FlashKey.UserAdded

@(
    users: Seq[models.User]
)(
    implicit navigation: NavigationComponent,
    implicitUser: security.LoginState.User,
    request: RequestHeader,
    flash: Flash
)

@main(userOpt = Some(implicitUser), title = "Show users") {
    @for(uid <- flash.get(UserAdded)) {
        <div class="alert alert-success" role="alert">User with ID #@uid added.</div>
    }
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
      </tr>
      </thead>
      <tbody>
        @for(user <- users) {
          <tr>
              <td>@user.id</td>
              <td>@user.name</td>
              <td>@user.email</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div>
    <a class="btn btn-primary btn-lg btn-block" href="@routes.SettingsController.addUser">Add user</a>
  </div>
}
