@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import controllers.routes.PersonController
@import controllers.FlashKey.DeletedPerson
@import controllers.FlashKey.DeletedToken
@import controllers.FlashKey.PersonNotFound
@import controllers.FlashKey.PersonAdded
@import controllers.FlashKey.PersonUpdated
@import helper.CSRF

@(
    persons: Seq[Person]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    flash: Flash
)

@scripts = {<script src="@routes.HomeController.togglePersonActive"></script>}
@keys = @{ Seq(PersonAdded, PersonUpdated).map(flash.get(_).getOrElse("").toString) }

@main(userOpt = Some(user), title = "List people", action= Some((routes.PersonController.addPerson, "Add person")), scripts = scripts) {
    @for(pid <- flash.get(PersonAdded)) {
        <div class="alert alert-success" role="alert"><span data-feather="check-circle" class="me-2" stroke-width="3"></span>Inserted new Person with ID @pid</div>
    }
    @for(pid <- flash.get(PersonUpdated)) {
        <div class="alert alert-success" role="alert"><span data-feather="check-circle" class="me-2" stroke-width="3"></span>Updated Person with ID @pid</div>
    }
    @for(_ <- flash.get(PersonNotFound)) {
        <div class="alert alert-danger" role="alert"><span data-feather="alert-octagon" class="me-2" stroke-width="3"></span>No Person found.</div>
    }
    @for(pid <- flash.get(DeletedPerson)) {
        <div class="alert alert-success" role="alert"><span data-feather="check-circle" class="me-2" stroke-width="3"></span>Person ID #@pid deleted.</div>
    }
    @for(tid <- flash.get(DeletedToken)) {
        <div class="alert alert-success" role="alert"><span data-feather="check-circle" class="me-2" stroke-width="3"></span>Token ID #@tid deleted.</div>
    }
    <div class="table-responsive">
        @CSRF.formField
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Database ID</th>
                <th>Member ID</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Active</th>
                <th>Modify</th>
                <th>Qualifications</th>
            </tr>
            </thead>
            <tbody>@for(person <- persons) {
                @if(keys.contains(person.id.get.toString)) {<tr class="table-success">} else {<tr>}
                    <td>@person.id</td>
                    <td>@person.memberId</td>
                    <td>@person.name</td>
                    <td>@person.email</td>
                    <td class="click-handler">
                        <input type="checkbox" @if(person.isActive) {checked="checked"} value="@person.id">
                        <span id="nok-@person.id" class="gone text-danger" data-feather="alert-triangle"><!-- alert-triangle --></span>
                        <span id="ok-@person.id" class="gone text-success" data-feather="check-circle"><!-- check circle --></span>
                    </td>
                    <td><a href="@PersonController.modifyPerson(person.id.get)"><span data-feather="edit"><!-- edit --></span></a></td>
                    <td><a href="@PersonController.addQualification(person.id.get)"><span data-feather="layers"><!-- layers --></span></a></td>
                </tr>
            }</tbody>
        </table>
    </div>
    <a class="btn btn-primary float-end" href="@routes.PersonController.addPerson">Add person</a>
}
