@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import controllers.routes.PersonController
@import controllers.routes.TokenController
@import utils.ByteOps.RichByte
@import controllers.FlashKey.UpdatedToken
@import controllers.FlashKey.DeletedToken
@import helper.CSRF

@(
    tokensAndOwner: Seq[(Token, Person)]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    flash: Flash
)

@scripts = {<script src="@routes.HomeController.toggleTokenActive"></script>}

@main(userOpt = Some(user), title = "List Tokens", scripts = scripts) {
@for(tid <- flash.get(UpdatedToken)) {
<div class="alert alert-success" role="alert">Updated Token ID #@tid</div>
}
@for(tid <- flash.get(DeletedToken)) {
<div class="alert alert-success" role="alert">Token ID #@tid deleted.</div>
}
<div class="table-responsive">
    @CSRF.formField
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Database ID</th>
            <th>Serial</th>
            <th>Purpose</th>
            <th>Token Active</th>
            <th>Owner</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        @for((token, owner) <- tokensAndOwner) {
        <tr>
            <td>@token.id</td>
            <td><span class="monospace">@token.serial.stringForUI()</span></td>
            <td>@token.purpose</td>
            <td class="click-handler">
                <input type="checkbox" @if(token.isActive) {checked="checked"} value="@token.id" />
                <span id="nok-@token.id" class="gone text-danger" data-feather="alert-triangle"><!-- alert-triangle --></span>
                <span id="ok-@token.id" class="gone text-success" data-feather="check-circle"><!-- check circle --></span>
            </td>
            <td><a href="@PersonController.modifyPerson(owner.id.get)">@owner.name (#@owner.id)</a></td>
            <td><a href="@TokenController.modifyToken(token.id.get)"><span data-feather="edit"><!-- edit --></span></a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary btn-block" href="@routes.TokenController.listUnknownTokens">Add new token</a>
</div>
}
