@import utils.navigation.NavigationComponent
@import utils.PaginatedResult
@import utils.time.RichLocalDateTime

@(
    results: PaginatedResult[(LogEntry, Option[Machine])]
)(
    implicit navigation: NavigationComponent,
    implicitUser: security.LoginState.User,
    request: RequestHeader,
    flash: Flash
)

@main(userOpt = Some(implicitUser), title = "Access Log") {
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Access At</th>
        <th>Machine</th>
      </tr>
      </thead>
      <tbody>
        @for(result <- results.entities) {
          <tr>
            <td data-toggle="tooltip" title="@result._1.accessAt">@result._1.accessAt.pretty()</td>
              <td>
                @if(result._2.isDefined) {
                    <a href="@routes.MachineController.modifyMachine(result._2.get.id.get)">@result._2.get.name</a>
                }
              </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  @elements.pagination(results.currentOffset, results.totalCount, results.pageSize, { offset =>
    routes.LogEntryController.listLogEntries(Some(offset), filteredMachineId)
  })
}
