@import utils.navigation.NavigationComponent
@import security.SessionKeys.Email
@import security.LoginState.User

@(
    userOpt: Option[User] = None,
    title: String,
    scripts: Html = Html("")
)(content: Html)(
    implicit navigationComponent: NavigationComponent,
    request: RequestHeader
)
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")" />
    <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/apple-touch-icon.png")" />
    <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon-32x32.png")" />
    <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon-16x16.png")" />
    <link rel="manifest" href="@routes.Assets.versioned("images/site.webmanifest")" />
    <link rel="mask-icon" href="@routes.Assets.versioned("images/safari-pinned-tab.svg")" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.min.css")" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.versioned("stylesheets/dashboard.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("lib/highlightjs/styles/androidstudio.css")" rel="stylesheet" />
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">RfiDing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span data-feather="menu"><!-- Menu Icon --></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            @navigation(navigationComponent)
        </ul>

        <ul class="navbar-nav ml-auto">
            @if(userOpt.isDefined) {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="@controllers.routes.SettingsController.about" id="dropdown-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span data-feather="settings"><!-- Settings Icon --></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-right">
                    <a class="dropdown-item" href="@controllers.routes.SettingsController.userProfile">
                        Profile
                    </a>
                    <a class="dropdown-item" href="@controllers.routes.SettingsController.about">
                        About
                    </a>
                </div>
            </li>
            }
            <li class="nav-item">
                @if(userOpt.isDefined) {
                <a class="nav-link" href="@controllers.routes.LoginController.logout" aria-label="Logout">Sign out</a>
                } else {
                <a class="nav-link" href="@controllers.routes.LoginController.login" aria-label="Login">Sign in</a>
                }
            </li>
        </ul>


        @*
        <div class="my-2 my-lg-0">
            @if(userOpt.isDefined) {
            <a class="mr-sm-2" href="@controllers.routes.LoginController.logout" aria-label="Logout">Sign out</a>
            } else {
            <a class="mr-sm-2" href="@controllers.routes.LoginController.login" aria-label="Login">Sign in</a>
            }
        </div>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        *@
    </div>
</nav>

<main role="main" class="container">
    <div class="mb-3">
        <h1 class="h2">@title</h1>
    </div>
    @content
</main><!-- /.container -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster              -->
<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/jquery-loader.js")"></script>
<script src="@routes.Assets.versioned("lib/popper.js/umd/popper.min.js")"></script>
<script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>

<!-- Icons -->
<script src="@routes.Assets.versioned("lib/feather-icons/dist/feather.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/feather.js")"></script>

<script src="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.min.js")"></script>

<!-- Rfiding -->
@scripts

@*
<!-- Graphs -->
<script src="@routes.Assets.versioned("/lib/chartjs/Chart.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/charts.js")"></script>

*@

</body>
</html>
