@import PersonController.PersonFormData
@import PersonController.FormID
@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import utils.ByteOps.RichByte
@import helper.CSRF
@import forms.inputText
@import forms.inputNumber
@import forms.inputEmail
@import forms.checkBox

@(
    modifyPersonForm: Form[PersonFormData],
    tokens: Seq[Token],
    qualifications: Seq[(Machine, Qualification)]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    messagesProvider: MessagesProvider,
    flash: Flash
)

@personId = @{ modifyPersonForm(FormID.personId).value.get.toInt }

@main(userOpt = Some(user), title = "Modify person details") {
    <div class="mb-3">
        @helper.form(action = controllers.routes.PersonController.modifyPersonPost) {
        @for(tid <- flash.get(FlashKey.TokenAdded)) {
        <div class="alert alert-success" role="alert"><span data-feather="check-circle" class="me-2" stroke-width="3"></span>New Token with ID #@tid added.</div>
        }
        @if(flash.get("error").isDefined) {
        <div class="alert alert-danger" role="alert"><span data-feather="alert-octagon" class="me-2" stroke-width="3"></span>@flash.get("error")</div>
        }

        @CSRF.formField
        <div class="col-md-12 order-md-1">
            <div class="row">
                <div class="col-md-8 mb-3">
                    @inputNumber(modifyPersonForm(FormID.memberId), "Member ID")
                </div>
                <div class="col-md-4 mb-3">
                    @inputText(modifyPersonForm(FormID.personId), "Database ID", onEmptyValue = "Automatically assigned", prependSymbol = Some("#"), readonly = true)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    @inputText(modifyPersonForm(FormID.fullName), "Full name", required = true)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    @inputEmail(modifyPersonForm(FormID.email), "E-Mail address", required = true)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    @checkBox(modifyPersonForm(FormID.isActive), "Active")
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 mb-3">
                    <button class="btn btn-primary btn-block" type="submit">Modify Person Details</button>
                </div>
                <div class="col-md-1 mb-3">
                    <button type="button" class="btn btn-danger btn-block float-end" data-bs-toggle="modal" data-bs-target="#confirmDeletePerson@personId">
                        <span data-feather="trash-2"><!-- trash-2 --></span>
                    </button>
                </div>
            </div>
        </div>
        @confirm_delete_person_dialog(personId, modifyPersonForm(FormID.fullName).value)
        }
    </div>

    <h4>Tokens</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-5">
        @if(tokens.isEmpty) {
            <div class="alert alert-info" role="alert">
                @modifyPersonForm(FormID.fullName).value.get does not have any tokens
            </div>
        } else {
            @for(token <- tokens) {
                <div class="col mb-2">@card_token(token)</div>
            }
        }
    </div>

    <h4>Qualifications</h4>
    @table_qualifications(Some(personId), modifyPersonForm(FormID.fullName).value.get, qualifications)
    <a class="btn btn-primary" href="@controllers.routes.PersonController.addQualification(personId)">Add Qualification</a>
}

@for(token <- tokens) {
    @confirm_delete_token_dialog(token, controllers.routes.PersonController.modifyPerson(personId).url)
}
