@import utils.navigation.NavigationComponent
@import security.LoginState.User
@import TokenController.TokenData
@import TokenController.FormKey.findPersonId
@import TokenController.FormKey.tokenId
@import TokenController.FormKey.tokenSerial
@import TokenController.FormKey.tokenPurpose
@import TokenController.FormKey.tokenIsActive
@import TokenController.FormKey.tokenOwnerName
@import TokenController.FormKey.tokenOwnerId
@import forms.inputText
@import forms.inputNumber
@import forms.checkBox
@import utils.ByteOps.RichByte
@import helper._

@(
    token: Token,
    owner: Person,
    modifyTokenForm: Form[TokenData]
)(
    implicit navigation: NavigationComponent,
    user: User,
    request: RequestHeader,
    messagesProvider: MessagesProvider,
    flash: Flash
)

@main(userOpt = Some(user), title = "Modify token #" + token.id.get) {
<div class="mb-3">
    @helper.form(action = controllers.routes.TokenController.modifyTokenPost(token.id.get)) {

    @CSRF.formField
    <div class="col-md-12 order-md-1">
        <div class="row">
            <div class="col-md-6 mb-3">
                @inputText(modifyTokenForm(tokenId), "DB-ID", readonly = true)
            </div>
            <div class="col-md-6 mb-3">
                @inputText(modifyTokenForm(tokenSerial), "Serial", readonly = true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                @inputText(modifyTokenForm(tokenPurpose), "Purpose")
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                @inputText(modifyTokenForm(tokenOwnerId), "Owner ID", readonly = true)
            </div>
            <div class="col-md-8 mb-3">
                @inputText(modifyTokenForm(tokenOwnerName), "Owner Name", readonly = true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                @checkBox(modifyTokenForm(tokenIsActive), "Active")
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <button class="btn btn-primary btn-block" type="submit">Modify token</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger btn-block float-end" data-bs-toggle="modal" data-bs-target="#confirmDeleteToken@token.id">
                    <span data-feather="trash-2"><!-- trash-2 --></span>
                </button>
            </div>
        </div>

    </div>
    }
</div>

@confirm_delete_token_dialog(token, "token")

}
