@import utils.navigation.NavigationComponent
@import utils.navigation.NavigationItem
@import utils.navigation.NavigationEntry
@import utils.navigation.NavigationTitle

@(navigationComponent: NavigationComponent)(implicit request: RequestHeader)

@for((item, index) <- navigationComponent.navigationItems.zipWithIndex) {
    @item match {
        case item: NavigationTitle => {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle @if(item.active) {active}" id="dropdown@index" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.title</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown@index">
                    @for(subItem <- item.subItems) {
                        <li><a class="dropdown-item" href="@subItem.target">
                            @subItem.title @if(item.active) {<span class="visually-hidden">(current)</span>}
                        </a></li>
                    }
                </ul>
            </li>
        }
        case item: NavigationEntry => {
            <li class="nav-item">
                <a class="nav-link @if(item.active) {active}" href="@item.target">
                    @item.title @if(item.active) {<span class="visually-hidden">(current)</span>}
                </a>
            </li>
        }
    }
}
