@import utils.navigation.NavigationComponent

@(
)(
    implicit navigation: NavigationComponent,
    request: RequestHeader
)

@main(title = "Show API stuff") {
  <ul>
      <li><a href="@controllers.routes.ApiController.getMachineConfig("000000000000")">getMachineConfig for machine 00:00:00:00:00:00</a></li>
      <li><a href="@controllers.routes.ApiController.getMachineConfig("11223344bb22")">getMachineConfig for machine 11:22:33:44:bb:22</a></li>
      <li><a href="@controllers.routes.ApiController.getMachineConfig("001122332211")">getMachineConfig for machine 00:11:22:33:22:11</a></li>
      <li><a href="@controllers.routes.ApiController.getMachineConfig("000000000001")">getMachineConfig for machine 00:00:00:00:00:01</a></li>
      <li><a href="@controllers.routes.ApiController.getMachineConfig("000000000002")">getMachineConfig for machine 00:00:00:00:00:02</a></li>
      <li><hr/></li>
      <li><a href="@controllers.routes.ApiController.checkMachineAccess("000000000000", "42A65C22")">checkMachineAccess for machine 00:00:00:00:00:00 and token 42|A6|5C|22</a></li>
      <li><a href="@controllers.routes.ApiController.checkMachineAccess("11223344bb22", "42A65C22")">checkMachineAccess for machine 11:22:33:44:bb:22 and token 42|A6|5C|22</a></li>
      <li><a href="@controllers.routes.ApiController.checkMachineAccess("001122332211", "42A65C22")">checkMachineAccess for machine 00:11:22:33:22:11 and token 42|A6|5C|22</a></li>
      <li><a href="@controllers.routes.ApiController.checkMachineAccess("000000000000", "00000000")">checkMachineAccess for machine 00:00:00:00:00:00 and token 00|00|00|00</a></li>
      <li><a href="@controllers.routes.ApiController.checkMachineAccess("11223344bb22", "00000000")">checkMachineAccess for machine 11:22:33:44:bb:22 and token 00|00|00|00</a></li>
      <li><a href="@controllers.routes.ApiController.checkMachineAccess("001122332211", "00000000")">checkMachineAccess for machine 00:11:22:33:22:11 and token 00|00|00|00</a></li>
      <li><hr/></li>
      <li><a href="@controllers.routes.ApiController.machineStatus("xxx")">@controllers.routes.ApiController.machineStatus("xxx")</a></li>
  </ul>
}
