{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Blacklisted Tokens" %}{% endblock %}

{% block top_actions %}
{% endblock %}

{% block table_outer %}
<small class="text-secondary">{% trans "Blacklisted tokens do not appear in Unknown Tokens" %}</small>
<table class="table table-bordered table-hover mt-2">
    <thead>
        <tr>
            <th>{% trans "Serial" %}</th>
            {% if perms.tokens.delete_blacklistedtoken %}
            <th width="30"></th>
            {% endif %}
        </tr>
        </thead>
{% for object in tokens %}
<tr>
<td>{{ object.serial }}</td>
{% if perms.tokens.delete_blacklistedtoken %}
<td><a href="{% url "tokens:delete-blacklisted" object.pk %}"><i class="bi-trash"></i></a></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}