{% extends base_template %}
{% load i18n %}

{% block top_actions %}
{% endblock %}

{% block empty_state %}
{% include "snippets/empty_list.html" with model=model icon="radio-tower" can_create=false %}
{% endblock %}

{% block table_outer %}
<div role="alert" class="alert alert-soft mb-2">
  <i data-lucide="info" class="w-4 h-4"></i>
  <span>{% trans "Blacklisted tokens do not appear in Unknown Tokens" %}</span>
</div>
<ul class="list">
{% for object in tokens %}
  <li class="list-row items-center">
    {% include 'snippets/id_display.html' with value=object.serial %}
    {% if perms.tokens.delete_blacklistedtoken %}
      <a href="{% url "tokens:delete-blacklisted" object.pk %}" class="tooltip" data-tip="{% trans 'Delete' %}"><i data-lucide="trash-2" class="w-4 h-4 text-error"></i></a>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
