{% load i18n %}<div>
    <h6 class="font-bold mb-1">{{ object.name }}</h6>
    <ul class="list-none">
        <li><span class="font-bold text-base-content/70">{% trans "Member ID" %}:</span> {% include "snippets/id_display.html" with value=object.member_id %}</li>
        <li><span class="font-bold text-base-content/70">{% trans "E-Mail" %}:</span> {{ object.email }}</li>
        <li><span class="font-bold text-base-content/70">{% trans "Active" %}:</span> {% include "snippets/active_toggle.html" with toggle_namespace="people" %}</li>
    </ul>
</div>
