{% extends base_template %}
{% load i18n %}

{% block top_actions %}
  <div class="flex flex-wrap items-center gap-2">
    {% if perms.tokens.create_token %}
      <a href="{% url 'tokens:unknown' %}" class="btn btn-primary btn-sm"><i data-lucide="plus" class="w-4 h-4"></i>{% trans 'Assign Token' %}</a>
    {% endif %}
  </div>
{% endblock %}

{% block bottom_actions %}
  {% if perms.tokens.create_token and paginator.count > 1 %}
    <a href="{% url 'tokens:unknown' %}" class="btn btn-primary btn-square tooltip" data-tip="{% trans 'Assign Token' %}"><i data-lucide="plus" class="w-4 h-4"></i></a>
  {% endif %}
{% endblock %}

{% block empty_state %}
  {% include 'snippets/empty_list.html' with model=model icon='radio-tower' can_create=false %}
{% endblock %}

{% block table %}
  <thead>
    <tr>
      <th>
        {% trans 'Serial' %}
      </th>
      <th>
        {% trans 'Label' %}
      </th>
      <th>
        {% trans 'Type' %}
      </th>
      <th>
        {% trans 'Active' %}
      </th>
      <th>
        {% trans 'Owner' %}
      </th>
      {% if perms.tokens.modify_token %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  {% for object in tokens %}
    <tr>
      <td>
        <a class="link-hover link-primary" href="{% url 'tokens:detail' object.pk %}">{{ object.serial }}</a>
      </td>
      <td>{{ object.format_label }}</td>
      <td>{{ object.type|default:'--' }}</td>
      <td>
        {% if object.archived %}
            <i data-lucide="archive" class="w-4 h-4 text-error" aria-hidden="true"></i>
        {% else %}
            {% include 'snippets/active_toggle.html' with object=object %}
        {% endif %}
      </td>
      {% if perms.people.view_person %}
        <td>
          <a class="link-hover link-primary" href="{% url 'people:detail' object.person.pk %}">{{ object.person }}</a>
        </td>
      {% else %}
        <td>{{ object.person }}</td>
      {% endif %}
      {% if perms.tokens.modify_token %}
        <td>
          <a href="{% url 'tokens:update' object.pk %}" class="tooltip" data-tip="{% trans 'Edit' %}"><i data-lucide="square-pen" class="w-4 h-4"></i></a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}
