{% extends "base_detail.html" %}
{% load i18n %}

{% block top_actions %}
<div class="join">
{% if can_edit %}
<a href="{% url request.resolver_match.namespace|add:':update' object.pk %}" class="btn btn-primary join-item {% if object.archived %}btn-disabled{% endif %}" aria-disabled="{% if object.archived %}true{% else %}false{% endif %}"><i data-lucide="square-pen" class="w-4 h-4"></i>{% trans "Edit "%}</a>
{% endif %}
{% if can_delete %}
<a href="{% url request.resolver_match.namespace|add:':delete' object.pk %}" class="btn btn-error join-item {% if object.archived %}btn-disabled{% endif %}" aria-disabled="{% if object.archived %}true{% else %}false{% endif %}" {% if not object.archived %}data-modal-target="confirmArchiveModal"{% endif %}><i data-lucide="archive" class="w-4 h-4"></i>{% trans "Archive"%}</a>
{% endif %}
</div>
{% endblock %}

{% block content %}
<h4 class="text-lg font-semibold mb-2">{% trans "Details" %}</h4>
<ul class="mb-4 list-none">
<li><span class="font-bold text-base-content/60">{% trans "Serial" %}:</span> {{ object.serial }}</li>
<li><span class="font-bold text-base-content/60">{% trans "Label" %}:</span> {{ object.format_label }}</li>
<li><span class="font-bold text-base-content/60">{% trans "Type" %}:</span> {{ object.type }}</li>
<li><span class="font-bold text-base-content/60">{% trans "Owner" %}:</span> <a class="link-hover link-primary" href="{% url 'people:detail' object.person.pk %}">{{ object.person }}</a></li>
<li><span class="font-bold text-base-content/60">{% trans "Is Active" %}:</span> {% include "snippets/active_toggle.html" %}</li>
{% if object.archived %}
<li><span class="font-bold text-base-content/60">{% trans "Archived" %}:</span> {{ object.archived }}</li>
{% endif %}
{% if object.notes %}
<li><span class="font-bold text-base-content/60">{% trans "Notes" %}:</span> {{ object.notes }}</li>
{% endif %}
</ul>

{% url "access_log:for-token" object.pk as access_log_url %}
{% trans "Load Access Log" as access_log_label %}
{% include "snippets/async_button.html" with url=access_log_url label=access_log_label %}
{% endblock %}


{% block extra_content %}
{% if can_delete %}
{% include 'modals/archive_confirm.html' %}
{% endif %}
{% endblock %}
