{% load i18n %}
<div class="card card-border {% if token.is_active %}border-success{% elif token.archived %}border-neutral/10{% else %}border-error{% endif %} mb-2">
    <div class="card-body gap-1 p-4">
        <div class="flex items-center gap-2">
            <i data-lucide="radio-tower" class="w-4 h-4 {% if token.is_active %}text-success{% else %}text-error{% endif %}"></i>
            <a class="link-hover link-primary" href="{% url 'tokens:detail' token.id %}">
                Token #{{ token.label }} &bull; [{{ token.serial }}]
            </a>
        </div>
        <p class="m-0">
            {{ token.type }}
        </p>
        {% if token.archived %}
        <p class="text-base-content/60 text-sm m-0">
            {% trans "Archived" %}: {{ token.archived }}
        </p>
        {% endif %}
    </div>
</div>
