{% extends base_template %}
{% load i18n %}

{% block table %}
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Label Prefix" %}</th>
            {% if perms.tokens.delete_tokentype %}
            <th width="30"></th>
            {% endif %}
        </tr>
        </thead>
{% for token_type in types %}
<tr>
{% if perms.tokens.modify_tokentype %}
<td><a href="{% url "tokens:types:update" token_type.pk %}">{{ token_type.name }}</a></td>
{% else %}
<td>{{ token_type.name }}</td>
{% endif %}
<td>{{ token_type.label_prefix }}</td>
{% if perms.tokens.delete_tokentype %}
<td><a href="{% url "tokens:types:delete" token_type.pk %}"><i class="bi-trash"></i></a></td>
{% endif %}
</tr>
{% endfor %}
{% endblock %}