{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load humanize %}

{% block title %}
{% trans "Unknown tokens" %}
{% endblock %}

{% block top_actions %}
<a href="{% url 'tokens:clear-unknown' %}" class="btn btn-primary"><i class="bi-arrow-clockwise"></i> {% trans "Clear list" %}</a>
{% endblock %}

{% block content %}
{% if tokens %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Serial" %}</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Seen" %}</th>
            {% if perms.tokens.create_token %}
            <th>{% trans "Assign" %}</th>
            {% endif %}
        </tr>
        </thead>
{% for token in tokens %}
<tr>
<td>{{ token.serial }}</td>
<td>{{ token.machine }}</td>
<td>{% include "snippets/timestamp.html" with timestamp=token.created %}</td>
{% if perms.tokens.create_token %}
<td><a href="{% url "tokens:assign" token.serial %}"><i class="bi-link"></i></a></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% else %}
<div class="card text-center">
    <div class="card-body">
        <i class="bi-broadcast display-3 text-body-tertiary"></i>
        <h4 class="h5">{% trans "No Tokens found." %}</h4>
        <p class="text-body-tertiary">{% trans "Any token that is tappen on a reader and not known to the database will show up here." %}</p>
    </div>
</div>
{% endif %}
{% endblock %}