{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load humanize %}

{% block main %}
<div hx-ext="ws" ws-connect="/ws/tokens/unknown/">
    <div class="mb-3 clearfix">
        <div class="float-end">
            <a
                href="{% url 'tokens:clear-unknown' %}"
                ws-send
                hx-vals='{"action": "clear"}'
                class="btn btn-primary">
                <i class="bi-x-circle"></i> {% trans "Clear list" %}
            </a>
        </div>
          <h1 class="h2">{% trans "Unknown tokens" %}</h1>
        </div>
          {% block content %}
          {% endblock content %}
          <div class="mb-3 clearfix">
            <div class="float-end">{% block bottom_actions %}{% endblock %}</div>
        </div>
{% if tokens %}
{% include "unknown_token_table.html" %}
{% else %}
{% include "unknown_tokens_empty.html" %}
{% endif %}
</div>
{% endblock %}