{% extends "base_detail.html" %}
{% load i18n %}

{% block top_actions %}
<div class="btn-group" role="group">
{% if can_edit %}
<a href="{% url request.resolver_match.namespace|add:':update' object.pk %}" class="btn btn-primary"><i class="bi-pencil-square me-2"></i>{% trans "Edit "%}</a>
<a href="{% url request.resolver_match.namespace|add:':configure' object.pk %}" class="btn btn-primary"><i class="bi-sliders me-2"></i>{% trans "Configure "%}</a>
{% endif %}
{% if can_delete %}
<a href="{% url request.resolver_match.namespace|add:':delete' object.pk %}" class="btn btn-danger"><i class="bi-trash me-1"></i>{% trans "Delete "%}</a>
{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row mb-5">
<div class="col-md-6">
<h4>{% trans "Details" %}</h4>
<ul class="list-unstyled">
<li><span class="fw-bold text-secondary-emphasis">Name:</span> {{ object.name }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">Hostname:</span> {{ object.hostname }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">MAC Address:</span> {{ object.mac_address }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">IP Address:</span> {{ object.ip_address }}<br></li>
<li><span class="fw-bold text-secondary-emphasis">Is Active:</span> {% include "snippets/active_toggle.html" %}<br></li>
</ul>
</div>
<div class="col-md-6">
    <h4>{% trans "Configuration" %}</h4>
    <ul class="list-unstyled">
        <li><span class="fw-bold text-secondary-emphasis">Runtimer:</span> {{ object.runtimer }}<br></li>
        <li><span class="fw-bold text-secondary-emphasis">Min Power:</span> {{ object.min_power }}<br></li>
        <li><span class="fw-bold text-secondary-emphasis">Control Parameter:</span> {{ object.control_parameter|default:"--" }}<br></li>
        </ul>
</div>
</div>

<div class="mb-5">
<h4>{% trans "Qualifications" %}</h4>
<div class="text-body-secondary">{% blocktrans %}{{ qualifications_count }} people are qualified to use this machine:{% endblocktrans %}</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Qualification Comment" %}</th>
            <th>{% trans "Access Type" %}
            <th>{% trans "Instructor" %}</th>
            <th>{% trans "Date" %}</th>
            {% if perms.people.qualify_person %}
            <th>{% trans "Edit" %}
            <th>{% trans "Revoke" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for qualification in qualifications %}
        <tr>
            <td><a href="{% url "people:detail" qualification.person.id %}">{{ qualification.person.name }}</a></td>
            <td>{{ qualification.get_permission_level_display }}</td>
            <td>{{ qualification.comment }}</td>
            <td>{{ qualification.instructed_by|default:"--" }}</td>
            <td>{{ qualification.created|date:"DATE_FORMAT" }}</td>
            {% if perms.people.qualify_person %}
                <td><a href="{% url "people:edit-qualification" qualification.person.pk qualification.pk %}"><i class="bi-pencil-square me-2"></i></a></td>
                <td><a href="{% url "people:revoke-qualification" qualification.person.pk qualification.pk %}">{% include "snippets/hoverable_revoke.html" %}</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="mb-5">
    <h4>{% trans "Instructors" %}</h4>
    <div class="text-body-secondary">{% blocktrans %}{{ instructors_count }} people can instruct on usage of this machine:{% endblocktrans %}</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans "Member ID" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Revoke" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td><a href="{% url "people:detail" instructor.person.id %}">{{ instructor.person.member_id }}</a></td>
                <td><a href="{% url "people:detail" instructor.person.id %}">{{ instructor.person.name }}</a></td>
                <td>{{ instructor.created|date:"DATE_FORMAT" }}</td>
                {% if perms.people.qualify_person %}
                    <td><a href="{% url "people:revoke-instructor" instructor.person.pk instructor.pk %}">{% include "snippets/hoverable_revoke.html" %}</a></td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}